<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">

    <div class="panel-heading">
        <h4 class="text-primary">Specialties</h4>
    </div>
    <div class="panel-body">
        <img src="/images/site/img-law.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;" />
        <h5 class="text-primary">
            <strong>
               Law Enforcement Classes
            </strong>
        </h5>
        <p>
            Most security and law enforcement agencies require all weapons on the duty belt to be certified and followed up every year of service. This program is excellent for the continuing education of any police officer of any state and county. 
        </p>
        <a class="btn btn-primary btn-sm" href="/Specialties/LawEnforcement">Learn More</a>
    </div>
 
    <div class="panel-body">
        <img src="/images/site/img-weapons.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;" />
        <h5 class="text-primary">
            <strong>
                Weapons Classes
            </strong>
        </h5>
        <p>
            Learning how to fight with a knife can be exciting, add Baton, Stick, Firearms, and even the Rope, you become a true deadly weapon. This certified course is designed to give you a peace of mind knowing the weapons you carry on your person are used effectively.
       </p>
        <a class="btn btn-primary btn-sm" href="/Specialties/WeaponsTraining">Learn More</a>
    </div>
 
    <div class="panel-body">
        <img src="/images/site/img-protection.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;" />
        <h5 class="text-primary">
            <strong>
                Executive Protection Training
            </strong>
        </h5>
        <p>
            Most security and law enforcement agencies require all weapons on the duty belt to be certified and followed up every year of service. This program is excellent for the continuing education of any police officer of any state and county.
        </p>
        <a class="btn btn-primary btn-sm" href="/Specialties/ProtectionTraining">Learn More</a>
    </div>

    <div class="panel-body">
        <img src="/images/hapkido_classes1.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;" />
        <h5 class="text-primary">
            <strong>
                Seminars
            </strong>
        </h5>
        <p>
            Whether you own a martial arts academy or a business looking to further your employees knowledge of self-defense. We are the ones to do it, We pride ourselves on custom and personal services, limited to the calendar year so call today and schedule a Small Circle Hapkido or weapons seminar. 
        </p>
        <a class="btn btn-primary btn-sm" href="/Specialties/Seminars">Learn More</a>
    </div>


    <div class="panel-body">
        <img src="/images/site/img-training.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;" />
        <h5 class="text-primary">
            <strong>
                Private Lessons
            </strong>
        </h5>
        <p>
            Train in the comfort and secrecy of your own home or personal gym, we bring the training to you. Weather your goals are self defense or getting in shape, pick from a ray of martial arts programs such as Muay Thai, Hapkido, Judo, Fitness Kickboxing, Brazilian Jiujitsu, Personal Training and more.
        </p>
        <a class="btn btn-primary btn-sm" href="/Specialties/PrivateLessons">Learn More</a>
    </div>
</div>
    
<script>
    $(document).ready(function () {
        // clear it out with pure javascript - quicker
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li class='active'>Specialties</li>"); 
    });
</script>
