<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">

    <div class="panel-heading">
        <h4 class="text-primary"> Law Enforcement Classes</h4>
    </div>
    <div class="panel-body">
        <p>
            Courses are developed to meet the changing needs of local law enforcement personnel. Instructors provide Certified classes in firearms qualification, Self Defense, Weapon Retention, Officer Safety, and Officer Survival.
        </p>
        <p>
            Most security and law enforcement agencies require all weapons on the duty belt to be certified and followed up every year of service. This program is excellent for the continuing education of any police officer of any state and county. Teaching Military and Law enforcement stay safe since 1995, and discounts are available for any group or agency.
        </p>
    </div>
</div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4><i class="fa fa-university" aria-hidden="true"></i> Upcoming Classes</h4>
    </div>
    <div class="panel-body">
        No events. Please check back soon!
    </div>
</div>
    <script>
    $(document).ready(function () {
        // clear it out with pure javascript - quicker
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Specialties'>Specialties</a></li>");
        $("#headerBreadCrumbs").append("<li class='active'>Law Enforcement</li>");
    });
    </script>
 