<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">

    <div class="panel-heading">
        <h4 class="text-primary">Private Lessons</h4>
    </div>
    <div class="panel-body">
        <p>
            Train in the comfort and secrecy of your own home or personal gym, we bring the training to you. Weather your goals are self defense or getting in shape, pick from a ray of martial arts programs such as Muay Thai, Hapkido, Judo, Fitness Kickboxing, Brazilian Jiujitsu, Personal Training and more. Fully equipped with mats and other training equipment let’s make your training a truly personal one.
        </p>
    </div>
</div>
<script>
    $(document).ready(function () {
        // clear it out with pure javascript - quicker
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Specialties'>Specialties</a></li>");
        $("#headerBreadCrumbs").append("<li class='active'>Private Lessons</li>");
    });
</script>
