<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">
    <div class="panel-heading">
        <h4 class="text-primary">Executive Protection Training</h4>
    </div>
    <div class="panel-body">
        <p>
            Our comprehensive program is designed to cover the skills and procedures required to provide effective personal protection and meet the needs of a full range of student interest, from entry-level to seasoned practitioners, get involved with planning, research, intelligence, networking, and the fundamentals of executive protection. Whether your group consists of private individuals or a group of security company or department employees, our bodyguard training course will provide the group with basic knowledge of the fundamentals of Executive Protection and body guarding.
       </p>
        <a class="btn btn-primary btn-sm" href="/Specialties/LawEnforcement">Learn More</a>
    </div>
</div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4><i class="fa fa-university" aria-hidden="true"></i> Upcoming Classes</h4>
    </div>
    <div class="panel-body">
        No events. Please check back soon!
    </div>
</div>
<script>
    $(document).ready(function () {
        // clear it out with pure javascript - quicker
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Specialties'>Specialties</a></li>");
        $("#headerBreadCrumbs").append("<li class='active'>Executive Protection</li>");
    });
</script>
