<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">

    <div class="panel-heading">
        <h4 class="text-primary">Seminars</h4>
    </div>
    <div class="panel-body">
        <p>
            This service allows us to travel to you, Weather you own a martial arts academy or a business looking to further your employees knowledge of self-defense. We are the ones to do it, We pride ourselves on custom and personal services, limited to the calendar year so call today and schedule a Small Circle Hapkido or weapons seminar. All services are taught and certified by Master Instructors.
       </p>
    </div>
</div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4><i class="fa fa-university" aria-hidden="true"></i> Upcoming Classes</h4>
    </div>
    <div class="panel-body">
        No events. Please check back soon!
    </div>
</div>
<script>
    $(document).ready(function () {
        // clear it out with pure javascript - quicker
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Specialties'>Specialties</a></li>");
        $("#headerBreadCrumbs").append("<li class='active'>Seminars</li>");
    });
</script>
