<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">

    <div class="panel-heading">
        <h4 class="text-primary">Weapons Classes</h4>
    </div>
    <div class="panel-body">
        <p>
            Learning how to fight with a knife can be exciting, add Baton, Stick, Firearms, and even the Rope, you become a true deadly weapon. This certified course is designed to give you a peace of mind knowing the weapons you carry on your person are used effectively. Most people carry weapons only to have them taken away and used against them and loved ones during times of need. Never feel threatened or vulnerable, know that whatever you carry, weather a knife or a firearm you can use them when you need them.  
        </p>
    </div>
</div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4><i class="fa fa-university" aria-hidden="true"></i> Upcoming Classes</h4>
    </div>
    <div class="panel-body">
        No events. Please check back soon!
    </div>
</div>
<script>
    $(document).ready(function () {
        // clear it out with pure javascript - quicker
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Specialties'>Specialties</a></li>");
        $("#headerBreadCrumbs").append("<li class='active'>Weapons Training</li>");
    });
</script>
