<div id="maindivwrap">

    <div id="container">

        <div id="topspacer"></div>

        <div id="boxcontent">


            <div id="showcase">

                <div id="showcase1">



                    <div class="joomla_ass" align="center">
                        <div class="border_box">
                            <div class="box_skitter box_skitter_large93">
                                <ul style="display: none;">
                                    <li><img src="/images/slider/image1.jpg" class="fade"></li>
                                    <li><img src="/images/slider/image2.jpg" class="fade"></li>
                                    <li><img src="/images/slider/image3.jpg" class="fade"></li>
                                </ul>
                                <a href="#" class="prev_button" style="opacity: 1;">prev</a><a href="#" class="next_button" style="opacity: 1;">next</a><span class="info_slide" style="left: 15px;"><span class="image_number" rel="0" id="image_n_1_0" style="background-color: rgb(51, 51, 51); color: rgb(255, 255, 255);">1</span> <span class="image_number" rel="1" id="image_n_2_0" style="background-color: rgb(51, 51, 51); color: rgb(255, 255, 255);">2</span> <span class="image_number image_number_select" rel="2" id="image_n_3_0" style="background-color: rgb(153, 153, 153); color: rgb(255, 255, 255);">3</span> </span><div class="container_skitter" style="width: 700px; height: 390px;"><div class="image"><a href="#"><img class="image_main" src="/images/slider/image3.jpg" style="display: inline;"></a><div class="label_skitter" style="width: 700px;"></div></div><div class="box_clone" style="left: 0px; top: 0px; width: 700px; height: 390px; display: block;"><img src="/images/slider/image3.jpg"></div><div class="box_clone" style="left: 0px; top: 0px; width: 700px; height: 390px; display: block;"><img src="/images/slider/image3.jpg"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="dnn">By A <a href="http://www.autson.com/" title="Web Design Company">Website Design</a></p>

                </div>
                <div id="showcase2">

                    <div id="showcase2-1">
                        <div class="moduletable_showcase2">


                            <div class="custom_showcase2">
                                <p>This Month<br><span class="showcase2"><cufon class="cufon cufon-canvas" alt="One" style="width: 29px; height: 24px;"><canvas width="37" height="23" style="width: 37px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>One</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" Week" style="width: 46px; height: 24px;"><canvas width="52" height="23" style="width: 52px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> Week</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" Free" style="width: 40px; height: 24px;"><canvas width="47" height="23" style="width: 47px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> Free</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" Trial" style="width: 45px; height: 24px;"><canvas width="53" height="23" style="width: 53px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> Trial</cufontext></cufon></span><br><br><a class="tempcolor-button" href="http://www.veritema.com/index.php/contact" target="_self">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="showcase2-2">
                        <div class="moduletable_showcase2">


                            <div class="custom_showcase2">
                                <p>Purchase Uniforms<br><span class="showcase2"><cufon class="cufon cufon-canvas" alt="Gis" style="width: 24px; height: 24px;"><canvas width="31" height="23" style="width: 31px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>Gis</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" and" style="width: 34px; height: 24px;"><canvas width="41" height="23" style="width: 41px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> and</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" Rash" style="width: 43px; height: 24px;"><canvas width="49" height="23" style="width: 49px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> Rash</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" Guards" style="width: 62px; height: 24px;"><canvas width="69" height="23" style="width: 69px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> Guards</cufontext></cufon></span> <br><br><a class="tempcolor-button" href="https://squareup.com/market/small-circle-hapkido" target="_new">Visit Our Store</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="showcase2-3">
                        <div class="moduletable_showcase2">


                            <div class="custom_showcase2">
                                <p>Instructor Classes<br><span class="showcase2"><cufon class="cufon cufon-canvas" alt="Seminars" style="width: 75px; height: 24px;"><canvas width="82" height="23" style="width: 82px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>Seminars</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" Coming" style="width: 61px; height: 24px;"><canvas width="67" height="23" style="width: 67px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> Coming</cufontext></cufon><cufon class="cufon cufon-canvas" alt=" Soon" style="width: 43px; height: 24px;"><canvas width="49" height="23" style="width: 49px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext> Soon</cufontext></cufon><br></span><br><a class="tempcolor-button" href="http://www.veritema.com/index.php/schedule/month.calendar/" target="_self">Events Calendar</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div id="intro">
                <div class="moduletable_intro">


                    <div class="custom_intro">
                        <div align="center"><span class="intro"><cufon class="cufon cufon-canvas" alt="SMALL " style="width: 68px; height: 20px;"><canvas width="84" height="21" style="width: 84px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>SMALL </cufontext></cufon><cufon class="cufon cufon-canvas" alt="CIRCLE " style="width: 72px; height: 20px;"><canvas width="88" height="21" style="width: 88px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>CIRCLE </cufontext></cufon><cufon class="cufon cufon-canvas" alt="HAPKIDO " style="width: 94px; height: 20px;"><canvas width="110" height="21" style="width: 110px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>HAPKIDO </cufontext></cufon><cufon class="cufon cufon-canvas" alt="CREED&nbsp;is " style="width: 87px; height: 20px;"><canvas width="103" height="21" style="width: 103px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>CREED&nbsp;is </cufontext></cufon><cufon class="cufon cufon-canvas" alt="to " style="width: 25px; height: 20px;"><canvas width="41" height="21" style="width: 41px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>to </cufontext></cufon><cufon class="cufon cufon-canvas" alt="build " style="width: 53px; height: 20px;"><canvas width="69" height="21" style="width: 69px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>build </cufontext></cufon><cufon class="cufon cufon-canvas" alt="true " style="width: 45px; height: 20px;"><canvas width="60" height="21" style="width: 60px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>true </cufontext></cufon><cufon class="cufon cufon-canvas" alt="self " style="width: 39px; height: 20px;"><canvas width="55" height="21" style="width: 55px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>self </cufontext></cufon><cufon class="cufon cufon-canvas" alt="confidence " style="width: 108px; height: 20px;"><canvas width="124" height="21" style="width: 124px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>confidence </cufontext></cufon><cufon class="cufon cufon-canvas" alt="through " style="width: 81px; height: 20px;"><canvas width="97" height="21" style="width: 97px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>through </cufontext></cufon><cufon class="cufon cufon-canvas" alt="knowledge " style="width: 107px; height: 20px;"><canvas width="123" height="21" style="width: 123px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>knowledge </cufontext></cufon><cufon class="cufon cufon-canvas" alt="in " style="width: 24px; height: 20px;"><canvas width="39" height="21" style="width: 39px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>in </cufontext></cufon><cufon class="cufon cufon-canvas" alt="the " style="width: 36px; height: 20px;"><canvas width="52" height="21" style="width: 52px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>the </cufontext></cufon><cufon class="cufon cufon-canvas" alt="mind, " style="width: 60px; height: 20px;"><canvas width="76" height="21" style="width: 76px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>mind, </cufontext></cufon><cufon class="cufon cufon-canvas" alt="honesty " style="width: 80px; height: 20px;"><canvas width="96" height="21" style="width: 96px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>honesty </cufontext></cufon><cufon class="cufon cufon-canvas" alt="in " style="width: 24px; height: 20px;"><canvas width="39" height="21" style="width: 39px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>in </cufontext></cufon><cufon class="cufon cufon-canvas" alt="the " style="width: 36px; height: 20px;"><canvas width="52" height="21" style="width: 52px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>the </cufontext></cufon><cufon class="cufon cufon-canvas" alt="heart, " style="width: 61px; height: 20px;"><canvas width="77" height="21" style="width: 77px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>heart, </cufontext></cufon><cufon class="cufon cufon-canvas" alt="and " style="width: 41px; height: 20px;"><canvas width="57" height="21" style="width: 57px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>and </cufontext></cufon><cufon class="cufon cufon-canvas" alt="strength " style="width: 84px; height: 20px;"><canvas width="100" height="21" style="width: 100px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>strength </cufontext></cufon><cufon class="cufon cufon-canvas" alt="in " style="width: 24px; height: 20px;"><canvas width="39" height="21" style="width: 39px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>in </cufontext></cufon><cufon class="cufon cufon-canvas" alt="the " style="width: 36px; height: 20px;"><canvas width="52" height="21" style="width: 52px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>the </cufontext></cufon><cufon class="cufon cufon-canvas" alt="body." style="width: 53px; height: 20px;"><canvas width="68" height="21" style="width: 68px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>body.</cufontext></cufon></span></div>
                        <div style="text-align: center;" align="center">To develop love and trust with family and friends, show respect to seniors and to form a strong and happy world.</div>
                        <div style="text-align: center;" align="center">Never fight for selfish goals, but to defend life, justice and peace.</div>
                    </div>
                </div>
            </div>

            <div id="maindiv">



                <div id="maintop">


                    <div id="maintop1" style="width:320px;">
                        <div class="moduletable_maintop">


                            <div class="custom_maintop">
                                <h3><img src="/images/site/calendar-icon.png" border="0" alt="calendar-icon" width="40" height="40" style="margin-right: 15px; margin-bottom: 50px; float: left;"><cufon class="cufon cufon-canvas" alt="Available " style="width: 73px; height: 16px;"><canvas width="86" height="17" style="width: 86px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Available </cufontext></cufon><cufon class="cufon cufon-canvas" alt="NOW!" style="width: 45px; height: 16px;"><canvas width="57" height="17" style="width: 57px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>NOW!</cufontext></cufon></h3>
                                <p>Gift certificates for private lessons, classes and equipment are available at $30.00, $60.00 and $90.00 increments.</p>
                            </div>
                        </div>
                    </div>

                    <div id="maintop2" style="width:320px;">
                        <div class="moduletable_maintop">


                            <div class="custom_maintop">
                                <h3>
                                    <img src="/images/site/atom-icon.png" border="0" alt="atom-icon" width="40" height="40" style="margin-right: 15px; margin-bottom: 50px; float: left;">

                                </h3>
                                <h3>

                                    <strong style="mso-bidi-font-weight: normal;"><em style="mso-bidi-font-style: normal;"><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Calibri','sans-serif'; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><cufon class="cufon cufon-canvas" alt="BIG " style="width: 29px; height: 14.6667px;"><canvas width="40" height="15" style="width: 40px; height: 15px; top: 0px; left: -1px;"></canvas><cufontext>BIG </cufontext></cufon><cufon class="cufon cufon-canvas" alt="BROTHER " style="width: 68px; height: 14.6667px;"><canvas width="79" height="15" style="width: 79px; height: 15px; top: 0px; left: -1px;"></canvas><cufontext>BROTHER </cufontext></cufon><cufon class="cufon cufon-canvas" alt="PROGRAM" style="width: 70px; height: 14.6667px;"><canvas width="73" height="15" style="width: 73px; height: 15px; top: 0px; left: -1px;"></canvas><cufontext>PROGRAM</cufontext></cufon></span></em></strong>
                                </h3>
                                <p class="MsoNormal">
                                    <strong>Is your Teen an at risk juvenile? </strong>

                                    <span style="font-size: 11.0pt; line-height: 115%; font-family: 'Calibri','sans-serif'; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;">We can help by placing them in a personalized mentor program that teaches honor and respect.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="maintop3" style="width:320px;">
                        <div class="moduletable_maintop">
                            <div class="custom_maintop">
                                <h3>
                                    <img src="/images/site/test-icon.png" border="0" alt="test-icon" width="40" height="40" style="margin-right: 15px; margin-bottom: 50px; float: left;">
                                </h3>
                                <h3>
                                    <span style="font-size: 11.0pt; line-height: 115%; font-family: 'Calibri','sans-serif'; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><cufon class="cufon cufon-canvas" alt="BULLYPROOF " style="width: 92px; height: 14.6667px;"><canvas width="104" height="15" style="width: 104px; height: 15px; top: 0px; left: -1px;"></canvas><cufontext>BULLYPROOF </cufontext></cufon><cufon class="cufon cufon-canvas" alt="YOUR " style="width: 42px; height: 14.6667px;"><canvas width="54" height="15" style="width: 54px; height: 15px; top: 0px; left: -1px;"></canvas><cufontext>YOUR </cufontext></cufon><cufon class="cufon cufon-canvas" alt="CHILDREN" style="width: 70px; height: 14.6667px;"><canvas width="75" height="15" style="width: 75px; height: 15px; top: 0px; left: -1px;"></canvas><cufontext>CHILDREN</cufontext></cufon></span>
                                </h3>
                                <p>

                                </p>
                                <p>
                                </p>
                                <p class="MsoNormal">Children from ages 5 to 12 can find their courage in our Little Dragons program. This class allows kids to embrace martial arts and helps build life skills.</p>
                            </div>
                        </div>
                    </div>



                </div>


                <div id="maincontent">


                    <div id="content100">


                        <!--Start Component-->


                        <div id="component">

                            <div class="blog-featured">




                            </div>


                        </div>


                        <!--End Component-->

                        <div id="contentbot">
                            <div class="moduletable_quotebox">


                                <div class="custom_quotebox">

                                </div>
                            </div>
                        </div>
                    </div>


                </div>



                <div id="mainbottom">


                    <div id="mainbottom1" style="width:240px;">
                        <div class="moduletable_mainbottom">
                            <h3><cufon class="cufon cufon-canvas" alt="Save " style="width: 40px; height: 16px;"><canvas width="52" height="17" style="width: 52px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Save </cufontext></cufon><cufon class="cufon cufon-canvas" alt="50% " style="width: 37px; height: 16px;"><canvas width="50" height="17" style="width: 50px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>50% </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Today" style="width: 45px; height: 16px;"><canvas width="54" height="17" style="width: 54px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Today</cufontext></cufon></h3>
                            <div class="custom_mainbottom">
                                <p>Whether you are trying to get in shape or stay in shape. We have it all for the whole family, and the martial arts training you will receive is second to none, call us today and save 50% off on your first month.</p>
                            </div>
                        </div>
                    </div>

                    <div id="mainbottom2" style="width:240px;">
                        <div class="moduletable_mainbottom">
                            <div class="custom_mainbottom">
                                <p><img src="/images/gallerymodule/bjj_front.jpg" border="0" alt=""></p>
                            </div>
                        </div>
                    </div>

                    <div id="mainbottom3" style="width:240px;">
                        <div class="moduletable_mainbottom">
                            <div class="custom_mainbottom">
                                <p><img src="/images/gallerymodule/muay-thai_front.jpg" border="0" alt=""></p>
                            </div>
                        </div>
                    </div>
                    <div id="mainbottom4" style="width:240px;">
                        <div class="moduletable_mainbottom">
                            <div class="custom_mainbottom">
                                <p><img src="/images/gallerymodule/Judo_front.jpg" border="0" alt=""><br>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="spotlight">
                <div id="spotlight1" style="width:960px;">
                    <div class="moduletable_spotlight">
                        <div class="gkHighlighterGK4" id="gkHighlighterGK4-gkHighlight_132">
                            <div class="gkHighlighterInterface">
                                <span class="text">News</span>

                                <div>
                                    <a href="#" class="prev"></a>

                                    <a href="#" class="next"></a>
                                </div>
                            </div>
                            <div class="gkHighlighterWrapper" style="width: 795px;">
                                <div class="gkHighlighterItem" style="display: block; z-index: 2; top: -24px; opacity: 0;"><span><a href="/index.php/news/100-adjust-and-overcome-your-kick"><span>How to adjust and overcome with your kick</span></a></span></div>
                                <div class="gkHighlighterItem" style="display: block; z-index: 1; opacity: 1; top: 0px;"><span><a href="/index.php/news/89-martial-arts-make-you-smarter"><span>Does Martial Arts Make You Smarter</span></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="botspacer"></div>
    </div>
</div>