<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0041)http://www.veritema.com/index.php/classes -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" class="cufon-active cufon-ready" slick-uniqueid="3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="./Martial Arts Classes Raleigh_files/300lo.json"></script>
    <script type="text/javascript" src="./Martial Arts Classes Raleigh_files/boost"></script>
    <!--<base href="http://www.veritema.com/index.php/classes">-->
    <base href=".">

    <meta name="keywords" content="hapkido class,fitness kickboxing class, judo class, brazilian jiu-jitsu class,tai chi class,muay thai class, law enforcement classes, weapons class, executive protection training, martial arts seminar ">
    <meta name="author" content="Super User">
    <meta name="description" content="Offering a variety of classes in Hapkido, Brazillian Jiu-Jitsu, Fitness Kickboxing, Muay Thai Kickboxing, Judo, and More!">
    <meta name="generator" content="Joomla! - Open Source Content Management">
    <title>SMALL CIRCLE HAPKIDO |  Martial Arts Classes Raleigh</title>
    <link href="http://www.veritema.com/templates/equipfitnesstheme-black-blue/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="http://www.veritema.com/index.php/component/search/?Itemid=513&amp;format=opensearch" rel="search" title="Search veritema.com" type="application/opensearchdescription+xml">
    <link rel="stylesheet" href="./Martial Arts Classes Raleigh_files/style.css" type="text/css">
    <link rel="stylesheet" href="./Martial Arts Classes Raleigh_files/modstyle.css" type="text/css">
    <link rel="stylesheet" href="./Martial Arts Classes Raleigh_files/style3.css" type="text/css">
    <style type="text/css">
        #gkHighlighterGK4-gkHighlight_132 .gkHighlighterInterface span.text {
            color: #fff;
        }

        #gkHighlighterGK4-gkHighlight_132 .gkHighlighterInterface {
            background-color: #666666;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

        #gkTab-135 .gkTabContainer0, #gkTab-135 .gkTabContainer1, #gkTab-135 .gkTabContainer2 {
            height: 290px;
        }
    </style>
    <script src="./Martial Arts Classes Raleigh_files/mootools-core.js.download" type="text/javascript"></script>
    <script src="./Martial Arts Classes Raleigh_files/core.js.download" type="text/javascript"></script>
    <script src="./Martial Arts Classes Raleigh_files/caption.js.download" type="text/javascript"></script>
    <script src="./Martial Arts Classes Raleigh_files/cufon-yui.js.download" type="text/javascript"></script>
    <style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
    <script src="./Martial Arts Classes Raleigh_files/Bebas_Neue_400.font.js.download" type="text/javascript"></script>
    <script src="./Martial Arts Classes Raleigh_files/Droid_Sans_400.font.js.download" type="text/javascript"></script>
    <script src="./Martial Arts Classes Raleigh_files/engine.js.download" type="text/javascript"></script>
    <script src="./Martial Arts Classes Raleigh_files/engine.js(1).download" type="text/javascript"></script>
    <script type="text/javascript">
window.addEvent('load', function() {
				new JCaption('img.caption');
			});
//<![CDATA[
		try {$Gavick;}catch(e){$Gavick = {};};
		$Gavick["gktab-gkTab-135"] = {
			"activator" : "click",
			"animation" : 1,
			"animation_speed" : 250,
			"animation_interval" : 5000,
			"animation_type" : "opacity",
			"animation_function" : Fx.Transitions.linear,
			"active_tab" : 1,
			"cookie_save" : 0
		};
		//]]>
    </script>
    <style type="text/css">
        /* <![CDATA[ */ .cufon-loading .title1 {
            visibility: hidden !important;
        }

        .cufon-loading .tagline {
            visibility: hidden !important;
        }

        .cufon-loading .showcase2 {
            visibility: hidden !important;
        }

        .cufon-loading .subtitle {
            visibility: hidden !important;
        }

        .cufon-loading .intro {
            visibility: hidden !important;
        }

        .cufon-loading h1 {
            visibility: hidden !important;
        }

        .cufon-loading .componentheading {
            visibility: hidden !important;
        }

        .cufon-loading h2 {
            visibility: hidden !important;
        }

        .cufon-loading .contentheading {
            visibility: hidden !important;
        }

        .cufon-loading h3 {
            visibility: hidden !important;
        }
        /* ]]> */
    </style>
    <script type="text/javascript"> Cufon.replace(".title1", { fontFamily: "Bebas Neue" });Cufon.replace(" .tagline", { fontFamily: "Bebas Neue" });Cufon.replace(" .showcase2", { fontFamily: "Bebas Neue" });Cufon.replace(".subtitle", { fontFamily: "Droid Sans" });Cufon.replace(" .intro", { fontFamily: "Droid Sans" });Cufon.replace(" h1", { fontFamily: "Droid Sans" });Cufon.replace(".componentheading", { fontFamily: "Droid Sans" });Cufon.replace(" h2", { fontFamily: "Droid Sans" });Cufon.replace(".contentheading", { fontFamily: "Droid Sans" });Cufon.replace(" h3", { fontFamily: "Droid Sans" }); </script>
    <script type="text/javascript" src="./Martial Arts Classes Raleigh_files/transmenu_Packed.js.download"></script>
    <style type="text/css">
        <!--
        .transMenu {
            position: absolute;
            overflow: hidden;
            left: -1000px;
            top: -1000px;
        }

            .transMenu .content {
                position: absolute;
            }

            .transMenu .items {
                border: 0px none #FFFFFF;
                position: relative;
                left: 0px;
                top: 0px;
                z-index: 2;
            }

            .transMenu td {
                padding: 7px 5px 8px 14px !important;
                font-size: 12px !important;
                font-family: Verdana, Arial, Helvetica, sans-serif !important;
                text-align: left !important;
                font-weight: normal !important;
                color: #e7e7e7 !important;
            }

        #subwrap {
            text-align: left;
        }

        .transMenu .item.hover td {
            color: #ffffff !important;
        }

        .transMenu .item {
            text-decoration: none;
            cursor: pointer;
            cursor: hand;
        }

        .transMenu .background {
            background-image: none;
            background-color: #2a2a2a !important;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        .transMenu .shadowRight {
            position: absolute;
            z-index: 3;
            top: -3000px;
            width: 2px;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        .transMenu .shadowBottom {
            position: absolute;
            z-index: 1;
            left: -3000px;
            height: 2px;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }

        .transMenu .item.hover {
            background-image: none;
            background-color: #212121 !important;
        }

        .transMenu .item img {
            margin-left: 10px !important;
        }

        table.swmenu {
            top: 0px;
            left: 0px;
            position: relative;
            margin: 0px !important;
            border: 0px none #FFFFFF;
            z-index: 1;
        }

            table.swmenu a {
                margin: 0px !important;
                padding: 10px 14px 11px 14px !important;
                display: block !important;
                position: relative !important;
            }

        div.swmenu a,
        div.swmenu a:visited,
        div.swmenu a:link {
            font-size: 12px !important;
            font-family: Verdana, Arial, Helvetica, sans-serif !important;
            text-align: left !important;
            font-weight: normal !important;
            color: #e7e7e7 !important;
            text-decoration: none !important;
            margin-bottom: 0px !important;
            display: block !important;
            white-space: nowrap;
        }

        div.swmenu td {
            border-bottom: 0px solid #FFFFFF;
            border-top: 0px solid #FFFFFF;
            border-left: 0px solid #FFFFFF;
            background-image: none;
        }

            div.swmenu td.last {
                border-right: 0px solid #FFFFFF;
            }

        #trans-active a {
            color: #ffffff !important;
            background-image: URL("http://www.veritema.com/modules/mod_swmenufree/images/menu_hover.png");
        }

        #swmenu a.hover {
            background-image: URL("http://www.veritema.com/modules/mod_swmenufree/images/menu_hover.png");
            color: #ffffff !important;
        }

        #swmenu span {
            display: none;
        }

        -->
    </style>

    <link rel="stylesheet" href="./Martial Arts Classes Raleigh_files/general.css" type="text/css">
    <link rel="stylesheet" href="./Martial Arts Classes Raleigh_files/template.css" type="text/css">
    <link href="./Martial Arts Classes Raleigh_files/template(1).css" rel="stylesheet" type="text/css">








    <style type="text/css">.at-icon{fill:#fff;border:0}.at-icon-wrapper{display:inline-block;overflow:hidden}a .at-icon-wrapper{cursor:pointer}.at-rounded,.at-rounded-element .at-icon-wrapper{border-radius:12%}.at-circular,.at-circular-element .at-icon-wrapper{border-radius:50%}.addthis_32x32_style .at-icon{width:2pc;height:2pc}.addthis_24x24_style .at-icon{width:24px;height:24px}.addthis_20x20_style .at-icon{width:20px;height:20px}.addthis_16x16_style .at-icon{width:1pc;height:1pc}#at16lb{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1001;background-color:#000;opacity:.001}#at16pc,#at16pi,#at16pib,#at_complete,#at_error,#at_share,#at_success{position:static!important}.at15dn{display:none}.at15a{border:0;height:0;margin:0;padding:0;width:230px}#at15s,#at16nms,#at16p,#at16p form input,#at16p label,#at16p textarea,#at16recap,#at16sas,#at_msg,#at_share .at_item{font-family:arial,helvetica,tahoma,verdana,sans-serif!important;font-size:9pt!important;outline-style:none;outline-width:0;line-height:1em}* html #at15s.mmborder{position:absolute!important}#at15s.mmborder{position:fixed!important;width:250px!important}#at15s{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtJREFUeNpiZGBgaGAgAjAxEAlGFVJHIUCAAQDcngCUgqGMqwAAAABJRU5ErkJggg==);float:none;line-height:1em;margin:0;overflow:visible;padding:5px;text-align:left;position:absolute}#at15s a,#at15s span{outline:0;direction:ltr;text-transform:none}#at15s .at-label{margin-left:5px}#at15s .at-icon-wrapper,#at16ps .at-icon-wrapper{width:1pc;height:1pc;vertical-align:middle}#at15s .at-icon,#at16ps .at-icon{width:1pc;height:1pc}.at4-icon{display:inline-block;background-repeat:no-repeat;background-position:top left;margin:0;overflow:hidden;cursor:pointer}.addthis_16x16_style .at4-icon,.addthis_default_style .at4-icon,.at4-icon,.at-16x16{width:1pc;height:1pc;line-height:1pc;background-size:1pc!important}.addthis_32x32_style .at4-icon,.at-32x32{width:2pc;height:2pc;line-height:2pc;background-size:2pc!important}.addthis_24x24_style .at4-icon,.at-24x24{width:24px;height:24px;line-height:24px;background-size:24px!important}.addthis_20x20_style .at4-icon,.at-20x20{width:20px;height:20px;line-height:20px;background-size:20px!important}.at4-icon.circular,.circular .at4-icon,.circular.aticon{border-radius:50%}.at4-icon.rounded,.rounded .at4-icon{border-radius:4px}.at4-icon-left{float:left}#at15s .at4-icon{text-indent:20px;padding:0;overflow:visible;white-space:nowrap;background-size:1pc;width:1pc;height:1pc;background-position:top left;display:inline-block;line-height:1pc}.addthis_vertical_style .at4-icon,.at4-follow-container .at4-icon,.sortable-list-container .at4-icon{margin-right:5px}html>body #at15s{width:250px!important}#at15s.atm{background:none!important;padding:0!important;width:10pc!important}#at15s.atiemode2{width:252px!important}#at15s_inner{background:#fff;border:1px solid #fff;margin:0}#at15s_head{position:relative;background:#f2f2f2;padding:4px;cursor:default;border-bottom:1px solid #e5e5e5}.at15s_head_success{background:#cafd99!important;border-bottom:1px solid #a9d582!important}.at15s_head_success a,.at15s_head_success span{color:#000!important;text-decoration:none}#at15s_brand,#at15sptx,#at16_brand{position:absolute}#at15s_brand{top:4px;right:4px}.at15s_brandx{right:20px!important}a#at15sptx{top:4px;right:4px;text-decoration:none;color:#4c4c4c;font-weight:700}#at15s.atiemode2 a#at15sptx{right:8px}#at15sptx:hover{text-decoration:underline}#at16_brand{top:5px;right:30px;cursor:default}#at_hover{padding:4px}#at_hover .at_item,#at_share .at_item{background:#fff!important;float:left!important;color:#4c4c4c!important}#at_share .at_item .at-icon-wrapper{margin-right:5px}#at_hover .at_bold{font-weight:700;color:#000!important}#at16nms,#at16sas{padding:4px 5px}#at16nms{display:none}#at16sas{clear:left;padding-top:1pc;padding-bottom:1pc}#at_hover .at_item{width:7pc!important;padding:2px 3px!important;margin:1px;text-decoration:none!important}#at_hover .at_item.atiemode2{width:114px!important}#at_hover .at_item.athov,#at_hover .at_item:focus,#at_hover .at_item:hover{margin:0!important}#at16ps .at_item:focus,#at_hover .at_item.athov,#at_hover .at_item:focus,#at_hover .at_item:hover,#at_share .at_item.athov,#at_share .at_item:hover{background:#f2f2f2!important;border:1px solid #e5e5e5;color:#000!important;text-decoration:none}.ipad #at_hover .at_item:focus{background:#fff!important;border:1px solid #fff}#at_sending{top:130px;left:110px;position:absolute;text-align:center}#at_sending img{padding:10px}.at15t{display:block!important;height:1pc!important;line-height:1pc!important;padding-left:20px!important;background-position:0 0;text-align:left}.addthis_button,.at15t{cursor:pointer}.addthis_toolbox a.at300b,.addthis_toolbox a.at300m{width:auto}.addthis_toolbox a{margin-bottom:5px;line-height:initial}.addthis_toolbox.addthis_vertical_style{width:200px}.addthis_toolbox.addthis_close_style .addthis_button_google_plusone{width:65px;overflow:hidden}.addthis_toolbox.addthis_close_style .addthis_button_facebook_like{width:85px;overflow:hidden}.addthis_toolbox.addthis_close_style .addthis_button_tweet{width:62px;overflow:hidden}.addthis_button_facebook_like .fb_iframe_widget{line-height:100%}.addthis_button_facebook_like iframe.fb_iframe_widget_lift{max-width:none}.addthis_toolbox a.addthis_button_counter,.addthis_toolbox a.addthis_button_facebook_like,.addthis_toolbox a.addthis_button_facebook_send,.addthis_toolbox a.addthis_button_facebook_share,.addthis_toolbox a.addthis_button_foursquare,.addthis_toolbox a.addthis_button_google_plusone,.addthis_toolbox a.addthis_button_linkedin_counter,.addthis_toolbox a.addthis_button_pinterest_pinit,.addthis_toolbox a.addthis_button_stumbleupon_badge,.addthis_toolbox a.addthis_button_tweet{display:inline-block}.at-share-tbx-element .google_plusone_iframe_widget>span>div{vertical-align:top!important}.addthis_toolbox span.addthis_follow_label{display:none}.addthis_toolbox.addthis_vertical_style span.addthis_follow_label{display:block;white-space:nowrap}.addthis_toolbox.addthis_vertical_style a{display:block}.addthis_toolbox.addthis_vertical_style.addthis_32x32_style a{line-height:2pc;height:2pc}.addthis_toolbox.addthis_vertical_style .at300bs{margin-right:4px;float:left}.addthis_toolbox.addthis_20x20_style span{line-height:20px;*height:20px}.addthis_toolbox.addthis_32x32_style span{line-height:2pc;*height:2pc}.addthis_toolbox.addthis_pill_combo_style .addthis_button_compact .at15t_compact,.addthis_toolbox.addthis_pill_combo_style a{float:left}.addthis_toolbox.addthis_pill_combo_style a.addthis_button_tweet{margin-top:-2px}.addthis_toolbox.addthis_pill_combo_style .addthis_button_compact .at15t_compact{margin-right:4px}.addthis_default_style .addthis_separator{margin:0 5px;display:inline}div.atclear{clear:both}.addthis_default_style .addthis_separator,.addthis_default_style .at4-icon,.addthis_default_style .at300b,.addthis_default_style .at300bo,.addthis_default_style .at300bs,.addthis_default_style .at300m{float:left}.at300b img,.at300bo img{border:0}a.at300b .at4-icon,a.at300m .at4-icon{display:block}.addthis_default_style .at300b,.addthis_default_style .at300bo,.addthis_default_style .at300m{padding:0 2px}.at300b,.at300bo,.at300bs,.at300m{cursor:pointer}.addthis_button_facebook_like.at300b:hover,.addthis_button_facebook_like.at300bs:hover,.addthis_button_facebook_send.at300b:hover,.addthis_button_facebook_send.at300bs:hover{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)}.addthis_20x20_style .at15t,.addthis_20x20_style .at300bs,.addthis_20x20_style .dummy .at300bs{overflow:hidden;display:block;height:20px!important;width:20px!important;line-height:20px!important}.addthis_32x32_style .at15t,.addthis_32x32_style .at300bs,.addthis_32x32_style .dummy .at300bs{overflow:hidden;display:block;height:2pc!important;width:2pc!important;line-height:2pc!important}.at300bs{background-position:0 0}.at16nc,.at300bs{overflow:hidden;display:block;height:1pc;width:1pc;line-height:1pc!important}.at16t{padding-left:20px!important;width:auto;cursor:pointer;text-align:left;overflow:visible!important}#at_feed{display:none;padding:10px;height:300px}#at_feed span{margin-bottom:10px;font-size:9pt}#at_feed div{width:102px!important;height:26px!important;line-height:26px!important;float:left!important;margin-right:68px}#at_feed div.at_litem{margin-right:0}#at_feed a{margin:10px 0;height:17px;line-height:17px}#at_feed.atused .fbtn{background:url(//s7.addthis.com/static/r05/feed00.gif) no-repeat;float:left;width:102px;cursor:pointer;text-indent:-9000px}#at_feed .fbtn.bloglines{background-position:0 0!important;width:94px;height:20px!important;line-height:20px!important;margin-top:8px!important}#at_feed .fbtn.yahoo{background-position:0 -20px!important}#at_feed .fbtn.newsgator,.fbtn.newsgator-on{background-position:0 -37px!important}#at_feed .fbtn.technorati{background-position:0 -71px!important}#at_feed .fbtn.netvibes{background-position:0 -88px!important}#at_feed .fbtn.pageflakes{background-position:0 -141px!important}#at_feed .fbtn.feedreader{background-position:0 -172px!important}#at_feed .fbtn.newsisfree{background-position:0 -207px!important}#at_feed .fbtn.google{background-position:0 -54px!important;width:78pt}#at_feed .fbtn.winlive{background-position:0 -105px!important;width:75pt;height:19px!important;line-height:19px;margin-top:9px!important}#at_feed .fbtn.mymsn{background-position:0 -158px;width:71px;height:14px!important;line-height:14px!important;margin-top:9pt!important}#at_feed .fbtn.aol{background-position:0 -189px;width:92px;height:18px!important;line-height:18px!important}.addthis_default_style .at15t_compact,.addthis_default_style .at15t_expanded{margin-right:4px}#at16clb{font-size:16pt;font-family:verdana bold,verdana,arial,sans-serif}#at_share .at_item{width:123px!important;padding:4px;margin-right:2px;border:1px solid #fff}#at16pm{background:#fff;width:298px;height:380px;text-align:left;border-right:1px solid #ccc;position:static}#at16pcc,#at16pccImg{position:fixed;top:0;left:0;width:100%;margin:0 auto;font-size:10px!important;color:#4c4c4c;padding:0;z-index:10000001;overflow:visible}#at16pccImg{height:100%}#at16abifc{overflow:hidden;margin:0;top:10px;left:10px;height:355px;width:492px;position:absolute;border:0}#at16abifc iframe{border:0;position:absolute;height:380px;width:516px;top:-10px;left:-10px}* html div#at16abifc.atiemode2{height:374px;width:482px}* html #at16abifc iframe{height:23pc;left:-10px;top:-10px;overflow:hidden}#at16p{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtJREFUeNpiZGBgaGAgAjAxEAlGFVJHIUCAAQDcngCUgqGMqwAAAABJRU5ErkJggg==);z-index:10000001;position:absolute;top:50%;left:50%;width:300px;padding:10px;margin:0 auto;margin-top:-185px;margin-left:-155px;font-family:arial,helvetica,tahoma,verdana,sans-serif;font-size:9pt;color:#5e5e5e}#at_share{margin:0;padding:0}#at16ps{overflow-y:scroll;height:19pc;padding:5px}a#at16pit{position:absolute;top:37px;right:10px;display:block;background:url(data:image/gif;base64,R0lGODlhEAAUAKIFAKqqquHh4cLCwszMzP///////wAAAAAAACH5BAEAAAUALAAAAAAQABQAAAMtOLqsAqWQSSsN0OoLthfeNoTaSFbmOaUqe7okHMoeLaqUXeITiGM/SGM4eEQSADs=) no-repeat;width:1pc;height:20px;line-height:19px;margin-right:-17px;text-align:center;overflow:hidden;color:#36b}#at16pi{background:#e5e5e5;text-align:left;border:1px solid #ccc;border-bottom:0}#at16pi a{text-decoration:none;color:#36b}#at16p #at16abc{margin-left:2px!important}#at16pi a:hover{text-decoration:underline}#at16pt{position:relative;background:#f2f2f2;height:13px;padding:5px 10px}#at16pt a,#at16pt h4{font-weight:700}#at16pt h4{display:inline;margin:0;padding:0;font-size:9pt;color:#4c4c4c;cursor:default}#at16pt a{position:absolute;top:5px;right:10px;color:#4c4c4c;text-decoration:none;padding:2px}#at15sptx:focus,#at16pt a:focus{outline:thin dotted}#at16pc form{margin:0}#at16pc form label{display:block;font-size:11px;font-weight:700;padding-bottom:4px;float:none;text-align:left}#at16pc form label span{font-weight:400;color:#4c4c4c;display:inline}#at16pc textarea{height:3pc}#at16pc form input:focus,#at16pc textarea:focus{background:ivory;color:#333}#at16p .atbtn,#at16recap .atbtn{background:#fff;border:1px solid #b5b5b5;width:60px!important;padding:2px 4px;margin:0;margin-right:2px!important;font-size:11px!important;font-weight:700;color:#333;cursor:pointer}#at16p .atbtn:focus,#at16p .atbtn:hover,#at16recap .atbtn:focus,#at16recap .atbtn:hover{border-color:#444;color:#06c}#at16p .atrse,#at16recap .atrse{font-weight:400!important;color:#666;margin-left:2px!important}#atsb .atbtn{width:78px!important;margin:0!important}#at16pc{height:343px!important;font-size:11px;text-align:left;color:#4c4c4c}#at16psf{position:relative;background:#f2f2f2 url(data:image/gif;base64,R0lGODlhGQEVAMQYAGZmZuDg4Ozs7MjIyMzMzPj4+LOzs3BwcMbGxsvLy5+fn/X19djY2IODg+bm5paWlnl5eeLi4oyMjKmpqdXV1dvb28/Pz////////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABgALAAAAAAZARUAAAX/ICaOGJFYaKqubOu+cCzPdG3feK7vPJwQpOBoEChcjsikcslsOp/QqHRKrVqv2Kx2Gy0EBkKRgMEtm8/otHrNTjMEQYGjTa/b7/h82gEfVfSAgYKDhGcVQ0sLBhAAEAYLhZGSk5RqYBgBSgsNAA0GnA2QlaOkpaZHASVGSQYACEgIABOntLW2eAUmSxASShIHt8HCw1snSwAGSq3EzM3OSyhLBw9KD8DP2Nm30UoKrrAACtrj5KMWCYmcCgbeAAcR5fHygT+rSQvtAA8A7vDz/wDV5MIUJVa/gAgTZkmFYYAUg70USpz45BKGPwUPiKPIseOhEXI6ihzphE8cMiRTMI58E6ZhEZUwEXqx2LIEAwsUKujcybOnz59AgwodSrSo0aNIkypdyrSpU58ofoQJAQA7) no-repeat center center;border-bottom:1px solid #ccc;height:20px;padding:4px 10px;text-align:center}* html #at16psf input,:first-child+html #at16psf input{padding:0}#at16psf input,#at16psf input:focus{background:#fff;border:none;width:220px;margin:2px 0 0;color:#666;outline-style:none;outline-width:0;padding:2px 0 0;line-height:9pt;font-family:arial,helvetica,tahoma,verdana,sans-serif;font-size:9pt}#at16pcc .at_error,#at16recap .at_error{background:#f26d7d;border-bottom:1px solid #df5666;padding:5px 10px;color:#fff}#at16pcc #at_success{background:#d0fbda;border-bottom:1px solid #a8e7b7;padding:5px 10px;color:#4c4c4c}#at_complete{font-size:13pt;color:#47731d;text-align:center;padding-top:130px;height:13pc!important;width:472px}.at_baa{display:block;overflow:hidden;outline:0}#at15s #at16pf a{top:1px}#at16pc form #at_send{width:5pc!important}#at16pp{color:#4c4c4c;position:absolute;top:9pt;right:9pt;font-size:11px}#at16pp label{font-size:11px!important}#at16pp .atinp{width:156px}#at16eatdr{position:absolute;background:#fff;border-top:0;max-height:110px;overflow:auto;z-index:500;top:129px;left:21px;width:277px}#at16eatdr a{display:block;overflow:hidden;border-bottom:1px dotted #eee;padding:4px 8px}#at16eatdr a.hover,#at16eatdr a:hover{background:#e0eefa;text-decoration:none;color:#333}#at_pspromo{height:130px;padding-top:10px}#at15psp,#at_pspromo{width:205px;padding-left:5px}#at_testpromo{font-size:9pt;width:220px;display:none}.atm-i #at_pspromo{height:150px}.atm-i #at_pspromo,.atm-i #at_testpromo{width:140px}#at_testpromo input{width:200px}#at_promo .at-promo-content,#at_testpromo .at-promo-content{margin-top:9pt}#at_promo .at-promo-btn,#at_testpromo .at-promo-btn{padding-top:10px}#at_promo h4,#at_testpromo h4{font-family:arial,helvetica,tahoma,verdana,sans-serif;background:0;font-size:14px;font-weight:700;margin:0 0 4px;padding:0;line-height:18px;height:36px}.atm-i #at_promo h4,.atm-i #at_testpromo h4{height:66px}#at_testpromo h4{font-size:13.5px}#at_promo h4 sup{font-size:11px;color:#ee6a44}#at_promo span{display:block}#_atssh{width:1px!important;height:1px!important;border:0!important}.at-promo-single{padding:10px;padding-top:2px;line-height:1.5em}.at-promo-single img{padding:3px}.at-promo-content img{margin-right:5px;margin-bottom:20px;float:left}.atm{width:10pc!important;padding:0;margin:0;line-height:9pt;letter-spacing:normal;font-family:arial,helvetica,tahoma,verdana,sans-serif;font-size:9pt;color:#444;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtJREFUeNpiZGBgaGAgAjAxEAlGFVJHIUCAAQDcngCUgqGMqwAAAABJRU5ErkJggg==);padding:4px}.atm-f{text-align:right;border-top:1px solid #ddd;padding:5px 8px}.atm-i{background:#fff;border:1px solid #d5d6d6;padding:0;margin:0;box-shadow:1px 1px 5px rgba(0,0,0,.15)}.atm-s{margin:0!important;padding:0!important}.atm-s a:focus{border:transparent;outline:0;-webkit-transition:none;transition:none}#at_hover.atm-s a,.atm-s a{display:block;text-decoration:none;padding:4px 10px;color:#235dab!important;font-weight:400;font-style:normal;-webkit-transition:none;transition:none}#at_hover.atm-s .at_bold{color:#235dab!important}#at_hover.atm-s a:hover,.atm-s a:hover{background:#2095f0;text-decoration:none;color:#fff!important}#at_hover.atm-s .at_bold{font-weight:700}#at_hover.atm-s a:hover .at_bold{color:#fff!important}.atm-s a .at-label{vertical-align:middle;margin-left:5px;direction:ltr}.atm-i #atic_settings{border:none!important;border-top:1px solid #d5d6d6!important;padding-top:6px!important;top:4px}.at_a11y{position:absolute!important;top:auto!important;width:1px!important;height:1px!important;overflow:hidden!important}.at_a11y_container{margin:0;padding:0}.at_redloading{background:url(data:image/gif;base64,R0lGODlhCgAKAJEDAMzMzP9mZv8AAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAADACwAAAAACgAKAAACF5wncgaAGgJzJ647cWua4sOBFEd62VEAACH5BAUAAAMALAEAAAAIAAMAAAIKnBM2IoMDAFMQFAAh+QQFAAADACwAAAAABgAGAAACDJwHMBGofKIRItJYAAAh+QQFAAADACwAAAEAAwAIAAACChxgOBPBvpYQYxYAIfkEBQAAAwAsAAAEAAYABgAAAgoEhmPJHOGgEGwWACH5BAUAAAMALAEABwAIAAMAAAIKBIYjYhOhRHqpAAAh+QQFAAADACwEAAQABgAGAAACDJwncqi7EQYAA0p6CgAh+QQJAAADACwHAAEAAwAIAAACCpRmoxoxvQAYchQAOw==);height:1pc;width:1pc;background-repeat:no-repeat;margin:0 auto}.at-promo-single-dl-ch{width:90pt;height:37px}.at-promo-single-dl-ff{width:90pt;height:44px}.at-promo-single-dl-saf{width:90pt;height:3pc}.at-promo-single-dl-ie{width:129px;height:51px}.at_PinItButton{display:block;width:40px;height:20px;padding:0;margin:0;background-image:url(//s7.addthis.com/static/t00/pinit00.png);background-repeat:no-repeat}.at_PinItButton:hover{background-position:0 -20px}.addthis_toolbox .addthis_button_pinterest_pinit{position:relative}.at-share-tbx-element .fb_iframe_widget span{vertical-align:baseline!important}.service-icon{padding:4px 8px}.service-icon:hover{background:#2095f0;color:#fff}.service-icon span{padding-left:20px}#at16pf{height:auto;text-align:right;padding:4px 8px}.at-privacy-info{position:absolute;left:7px;bottom:7px;cursor:pointer;text-decoration:none;font-family:helvetica,arial,sans-serif;font-size:10px;line-height:9pt;letter-spacing:.2px;color:#666}.at-privacy-info:hover{color:#000}@media print{#at4-follow,#at4-share,#at4-thankyou,#at4-whatsnext,#at4m-mobile,#at15s,.at4,.at4-recommended{display:none!important}}@media screen and (max-width:400px){.at4win{width:100%}}@media screen and (max-height:700px) and (max-width:400px){.at4-thankyou-inner .at4-recommended-container{height:122px;overflow:hidden}.at4-thankyou-inner .at4-recommended .at4-recommended-item:first-child{border-bottom:1px solid #c5c5c5}}</style>
    <style type="text/css">
        .at-branding-logo {
            font-family: helvetica,arial,sans-serif;
            text-decoration: none;
            font-size: 10px;
            display: inline-block;
            margin: 2px 0;
            letter-spacing: .2px;
        }

            .at-branding-logo .at-branding-icon {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////+GlNUkcc1QAAAB1JREFUeNpiYIQDBjQmAwMmkwEM0JnY1WIxFyDAABGeAFEudiZsAAAAAElFTkSuQmCC");
            }

            .at-branding-logo .at-branding-icon, .at-branding-logo .at-privacy-icon {
                display: inline-block;
                height: 10px;
                width: 10px;
                margin-left: 4px;
                margin-right: 3px;
                margin-bottom: -1px;
                background-repeat: no-repeat;
            }

            .at-branding-logo .at-privacy-icon {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAMAAABR24SMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF8fr9ot/xXcfn2/P5AKva////////AKTWodjhjAAAAAd0Uk5T////////ABpLA0YAAAA6SURBVHjaJMzBDQAwCAJAQaj7b9xifV0kUKJ9ciWxlzWEWI5gMF65KUTv0VKkjVeTerqE/x7+9BVgAEXbAWI8QDcfAAAAAElFTkSuQmCC");
            }

            .at-branding-logo span {
                text-decoration: none;
            }

            .at-branding-logo .at-branding-addthis, .at-branding-logo .at-branding-powered-by {
                color: #666;
            }

                .at-branding-logo .at-branding-addthis:hover {
                    color: #333;
                }

        .at-cv-with-image .at-branding-addthis, .at-cv-with-image .at-branding-addthis:hover {
            color: #fff;
        }

        a.at-branding-logo:visited {
            color: initial;
        }

        .at-branding-info {
            display: inline-block;
            padding: 0 5px;
            color: #666;
            border: 1px solid #666;
            border-radius: 50%;
            font-size: 10px;
            line-height: 9pt;
            opacity: .7;
            transition: all .3s ease;
            text-decoration: none;
        }

            .at-branding-info span {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            .at-branding-info:before {
                content: 'i';
                font-family: Times New Roman;
            }

            .at-branding-info:hover {
                color: #0780df;
                border-color: #0780df;
            }
    </style>
    <script type="text/javascript" charset="utf-8" async="" src="./Martial Arts Classes Raleigh_files/menu.dd0170b88e0ced086466.js.download"></script>
</head>
<body>
    <div id="wrapper">
        <div id="headerwrap">
            <div id="header">
                <div id="logo">
                    <div class="moduletable_logo">

                        <div class="custom_logo">
                            <p><a href="http://www.veritema.com/index.php" target="_self"><img src="./Martial Arts Classes Raleigh_files/equip-joomla-fitness-theme-logo.png" border="0" alt="equip-joomla-fitness-theme-logo" title="Equip Joomla Fitness Theme" width="149" height="151"></a></p>
                        </div>
                    </div>
                </div>
                <div id="tagline">
                    <div class="moduletable_tagline">

                        <div class="custom_tagline">
                            <p><span class="tagline"><cufon class="cufon cufon-canvas" alt="SMALL " style="width: 53px; height: 24px;"><canvas width="65" height="23" style="width: 65px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>SMALL </cufontext></cufon><cufon class="cufon cufon-canvas" alt="CIRCLE " style="width: 54px; height: 24px;"><canvas width="67" height="23" style="width: 67px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>CIRCLE </cufontext></cufon><cufon class="cufon cufon-canvas" alt="HAPKIDO" style="width: 64px; height: 24px;"><canvas width="71" height="23" style="width: 71px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>HAPKIDO</cufontext></cufon><br></span></p>
                        </div>
                    </div>
                </div>
                <div id="headinfo">
                    <div class="moduletable_headinfo">

                        <div class="custom_headinfo">
                            <p><a href="http://www.facebook.com/rima.kickboxNC" target="_blank"><img src="./Martial Arts Classes Raleigh_files/facebook2.png" border="0" alt=""></a>&nbsp;<a href="https://twitter.com/intent/follow?screen_name=4kickbox" target="_blank"><img src="./Martial Arts Classes Raleigh_files/twitter2.png" border="0" alt=""></a>&nbsp;<a href="http://www.4kickbox.com/" target="_blank"><img src="./Martial Arts Classes Raleigh_files/rima logo.JPG" border="0" alt="" width="33" height="29" style="cursor: se-resize !important;"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="navdivwrap">
            <div id="navdiv">
                <div id="navmenu">

                    <!--swMenuFree6.5_J1.7 transmenu by http://www.swmenupro.com-->
                    <div id="sw-wrap" class="swmenu" align="right">
                        <table cellspacing="0" cellpadding="0" id="swmenu" class="swmenu">
                            <tbody>
                                <tr>
                                    <td>
                                        <a id="menu435" href="http://www.veritema.com/">Home</a>
                                    </td>
                                    <td>
                                        <a id="menu513" href="http://www.veritema.com/index.php/classes">Classes</a>
                                    </td>
                                    <td>
                                        <a id="menu514" href="http://www.veritema.com/index.php/schedule/month.calendar/2016/09/23/-">Schedule</a>
                                    </td>
                                    <td>
                                        <a id="menu515" href="http://www.veritema.com/index.php/memberships">Memberships</a>
                                    </td>
                                    <td>
                                        <a id="menu516" href="http://www.veritema.com/index.php/gallery">Gallery</a>
                                    </td>
                                    <td>
                                        <a id="menu517" href="http://www.veritema.com/index.php/news">News</a>
                                    </td>
                                    <td>
                                        <a id="menu480" href="http://www.veritema.com/index.php/contact">Contact</a>
                                    </td>
                                    <td class="last">
                                        <a id="menu564" href="http://www.veritema.com/index.php/systems">Specialties</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="subwrap">
                        <script type="text/javascript">
<!--
if (TransMenu.isSupported()) {
var ms = new TransMenuSet(TransMenu.direction.down, 0,0, TransMenu.reference.bottomLeft);
var menu513 = ms.addMenu(document.getElementById("menu513"));
 menu513.addItem("Hapkido", "/index.php/classes/hapkido", "0");
menu513.addItem("Brazilian Jiu-Jitsu", "/index.php/classes/brazilian-jiu-jitsu", "0");
menu513.addItem("Fitness Kickboxing", "/index.php/classes/fitness-kickboxing", "0");
menu513.addItem("Judo", "/index.php/classes/judo", "0");
menu513.addItem("Muay Thai", "/index.php/classes/muay-thai", "0");
menu513.addItem("Tai Chi", "/index.php/classes/tai-chi", "0");
var menu480 = ms.addMenu(document.getElementById("menu480"));
 menu480.addItem("Directions", "/index.php/contact/directions", "0");
var menu564 = ms.addMenu(document.getElementById("menu564"));
 menu564.addItem("Law Enforcement", "/index.php/systems/law-enforcement", "0");
menu564.addItem("Weapons Training", "/index.php/systems/weapons-training", "0");
menu564.addItem("Executive Protection ", "/index.php/systems/executive-protection-training", "0");
menu564.addItem("Seminars", "/index.php/systems/seminars", "0");
menu564.addItem("Private Lessons", "/index.php/systems/private-lessons", "0");
function init() {
if (TransMenu.isSupported()) {
TransMenu.initialize();
document.getElementById("menu435").onmouseover = function() {
ms.hideCurrent();
this.className = "hover";
}
document.getElementById("menu435").onmouseout = function() { this.className = ""; }
menu513.onactivate = function() {document.getElementById("menu513").className = "hover"; };
 menu513.ondeactivate = function() {document.getElementById("menu513").className = ""; };
 document.getElementById("menu514").onmouseover = function() {
ms.hideCurrent();
this.className = "hover";
}
document.getElementById("menu514").onmouseout = function() { this.className = ""; }
document.getElementById("menu515").onmouseover = function() {
ms.hideCurrent();
this.className = "hover";
}
document.getElementById("menu515").onmouseout = function() { this.className = ""; }
document.getElementById("menu516").onmouseover = function() {
ms.hideCurrent();
this.className = "hover";
}
document.getElementById("menu516").onmouseout = function() { this.className = ""; }
document.getElementById("menu517").onmouseover = function() {
ms.hideCurrent();
this.className = "hover";
}
document.getElementById("menu517").onmouseout = function() { this.className = ""; }
menu480.onactivate = function() {document.getElementById("menu480").className = "hover"; };
 menu480.ondeactivate = function() {document.getElementById("menu480").className = ""; };
 menu564.onactivate = function() {document.getElementById("menu564").className = "hover"; };
 menu564.ondeactivate = function() {document.getElementById("menu564").className = ""; };
 }}
TransMenu.spacerGif = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/x.gif";
TransMenu.dingbatOn = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/whiteleft-on.gif";
TransMenu.dingbatOff = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/whiteleft-off.gif";
TransMenu.sub_indicator = true;
TransMenu.menuPadding = 0;
TransMenu.itemPadding = 0;
TransMenu.shadowSize = 2;
TransMenu.shadowOffset = 3;
TransMenu.shadowColor = "#888";
TransMenu.shadowPng = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/grey-40.png";
TransMenu.backgroundColor = "#2a2a2a";
TransMenu.backgroundPng = "http://www.veritema.com/modules/mod_swmenufree/images/transmenu/white-90.png";
TransMenu.hideDelay = 600;
TransMenu.slideTime = 300;
TransMenu.selecthack = 0;
TransMenu.autoposition = 0;
TransMenu.renderAll();
if ( typeof window.addEventListener != "undefined" )
window.addEventListener( "load", init, false );
else if ( typeof window.attachEvent != "undefined" ) {
window.attachEvent( "onload", init);
}else{
if ( window.onload != null ) {
var oldOnload = window.onload;
window.onload = function ( e ) {
oldOnload( e );
init();
}
}else
window.onload = init();
}
}
-->
                        </script><div id="TransMenu0" class="transMenu top" style="width: 162px; height: 208px; visibility: hidden;"><div class="content" style="width: 160px; height: 206px; top: -208px;"><table class="items" cellpadding="0" cellspacing="0" border="0"><tbody><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-0" border="0">Hapkido</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-1" border="0">Brazilian Jiu-Jitsu</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-2" border="0">Fitness Kickboxing</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-3" border="0">Judo</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-4" border="0">Muay Thai</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu0-5" border="0">Tai Chi</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr></tbody></table><div class="shadowBottom" style="top: 204px; width: 155px; background-color: rgb(136, 136, 136);"></div><div class="shadowRight" style="left: 158px; height: 203px; background-color: rgb(136, 136, 136);"></div><div class="background" style="width: 158px; height: 204px; background-color: rgb(42, 42, 42);"></div></div></div><div id="TransMenu1" class="transMenu top" style="width: 112px; height: 38px; visibility: hidden;"><div class="content" style="width: 110px; height: 36px; top: -38px;"><table class="items" cellpadding="0" cellspacing="0" border="0"><tbody><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu1-0" border="0">Directions</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr></tbody></table><div class="shadowBottom" style="top: 34px; width: 105px; background-color: rgb(136, 136, 136);"></div><div class="shadowRight" style="left: 108px; height: 33px; background-color: rgb(136, 136, 136);"></div><div class="background" style="width: 108px; height: 34px; background-color: rgb(42, 42, 42);"></div></div></div><div id="TransMenu2" class="transMenu top" style="width: 175px; height: 174px; visibility: hidden;"><div class="content" style="width: 173px; height: 172px; top: -174px;"><table class="items" cellpadding="0" cellspacing="0" border="0"><tbody><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-0" border="0">Law Enforcement</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-1" border="0">Weapons Training</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-2" border="0">Executive Protection </td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-3" border="0">Seminars</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr><tr class="item"><td nowrap="" style="border:none;padding:0px; padding-left:0px;" id="TransMenu2-4" border="0">Private Lessons</td><td style="border:none;padding:0px; padding-right:0px;"><img src="./Martial Arts Classes Raleigh_files/x.gif" border="0"></td></tr></tbody></table><div class="shadowBottom" style="top: 170px; width: 168px; background-color: rgb(136, 136, 136);"></div><div class="shadowRight" style="left: 171px; height: 169px; background-color: rgb(136, 136, 136);"></div><div class="background" style="width: 171px; height: 170px; background-color: rgb(42, 42, 42);"></div></div></div>
                    </div>
                    <!--End swMenuFree menu module-->
                </div>
            </div>
        </div>
        <div id="maindivwrap">
            <div id="container">
                <div id="topspacer"></div>
                <div id="boxcontent">

                    <div id="utility">
                        <div id="utility1">
                            <div class="moduletable_bread">

                                <div class="breadcrumbs_bread">
                                    <a href="http://www.veritema.com/" class="pathway">Home</a> <img src="./Martial Arts Classes Raleigh_files/arrow.png" alt=""> <span>Classes</span>
                                </div>
                            </div>
                        </div>
                        <div id="utility2">
                            <div class="moduletable">
                                <div class="joomla_add_this">
                                    <!-- AddThis Button BEGIN -->
                                    <script type="text/javascript">
var addthis_product = 'jlp-1.2';
var addthis_config =
{pubid:'Your Profile ID',
ui_hover_direction:0,
data_track_clickback:true,
ui_language:'en',
ui_use_css:true}</script>
                                    <a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, &#39;&#39;, &#39;[URL]&#39;, &#39;[TITLE]&#39;); " onmouseout="addthis_close();" onclick="return addthis_sendto();"><img src="./Martial Arts Classes Raleigh_files/addthis-share.png" border="0" alt="AddThis Social Bookmark Button"></a>
                                    <script type="text/javascript" src="./Martial Arts Classes Raleigh_files/addthis_widget.js.download"></script>
                                    <!-- AddThis Button END -->
                                </div>
                            </div>
                        </div>
                        <div id="utility3">
                            <div class="moduletable_search">
                                <form action="http://www.veritema.com/index.php/classes" method="post">
                                    <div class="search_search">
                                        <label for="mod-search-searchword">Search...</label><input name="searchword" id="mod-search-searchword" maxlength="20" class="inputbox_search" type="text" size="24" value="Search..." onblur="if (this.value==&#39;&#39;) this.value=&#39;Search...&#39;;" onfocus="if (this.value==&#39;Search...&#39;) this.value=&#39;&#39;;">	<input type="hidden" name="task" value="search">
                                        <input type="hidden" name="option" value="com_search">
                                        <input type="hidden" name="Itemid" value="513">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>












                    <div id="maindiv">



                        <div id="maincontent">

                            <div id="content75">

                                <!--Start Component-->

                                <div id="component">
                                    <div class="item-page">
                                        <h2><cufon class="cufon cufon-canvas" alt="Classes " style="width: 74px; height: 20px;"><canvas width="90" height="21" style="width: 90px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>Classes </cufontext></cufon><cufon class="cufon cufon-canvas" alt="- " style="width: 13px; height: 20px;"><canvas width="28" height="21" style="width: 28px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>- </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Small " style="width: 57px; height: 20px;"><canvas width="73" height="21" style="width: 73px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>Small </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Circle " style="width: 58px; height: 20px;"><canvas width="74" height="21" style="width: 74px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>Circle </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Hapkido" style="width: 78px; height: 20px;"><canvas width="88" height="21" style="width: 88px; height: 21px; top: 1px; left: -2px;"></canvas><cufontext>Hapkido</cufontext></cufon></h2>




                                        <h3><img src="./Martial Arts Classes Raleigh_files/img-hapkido.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;"></h3>
                                        <h3><cufon class="cufon cufon-canvas" alt="Hapkido Classes" style="width: 123px; height: 16px;"><canvas width="133" height="17" style="width: 133px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Hapkido&nbsp;Classes</cufontext></cufon></h3>
                                        <p>Through dedication and hard work this course can take you from a simple white belt to a master of the arts. Many Masters of other arts consider Hapkido to be&nbsp;making the system of Hapkido to be very personal, and very realistic.</p>
                                        <p><br><a class="readmore" href="http://www.veritema.com/index.php/classes/hapkido" target="_self">Learn More</a><br><br><br></p>
                                        <h3></h3>
                                        <h3><img src="./Martial Arts Classes Raleigh_files/pic4.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;"></h3>
                                        <h3><cufon class="cufon cufon-canvas" alt="Brazilian " style="width: 70px; height: 16px;"><canvas width="83" height="17" style="width: 83px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Brazilian </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Jiu-Jitsu Classes" style="width: 117px; height: 16px;"><canvas width="126" height="17" style="width: 126px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Jiu-Jitsu&nbsp;Classes</cufontext></cufon></h3>
                                        <p>Machado Jiu-Jitsu is the first Brazilian Jiu-Jitsu (BJJ) school in the Triangle. We have consistently produced skilled grapplers and BJJ competitors. We offer Gi (uniform) and no-Gi classes almost every day of the week. <br><br><a class="readmore" href="http://www.veritema.com/index.php/classes/brazilian-jiu-jitsu" target="_self">Learn More</a><br><br><br></p>
                                        <h3><img src="./Martial Arts Classes Raleigh_files/pic3.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;"></h3>
                                        <h3><cufon class="cufon cufon-canvas" alt="Fitness " style="width: 57px; height: 16px;"><canvas width="70" height="17" style="width: 70px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Fitness </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Kickboxing Classes" style="width: 141px; height: 16px;"><canvas width="151" height="17" style="width: 151px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Kickboxing&nbsp;Classes</cufontext></cufon></h3>
                                        <p>Learn the jab, cross, hook and the uppercut punches that boxers use to get lean and fit. Along with our conditioning methods used by actual fighters at our school, your body will get lean and toned quick!</p>
                                        <p><a class="readmore" href="http://www.veritema.com/index.php/classes/fitness-kickboxing" target="_self">Learn More</a><br><br><br></p>
                                        <h3><img src="./Martial Arts Classes Raleigh_files/Judo3.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;"></h3>
                                        <h3><cufon class="cufon cufon-canvas" alt="Judo " style="width: 39px; height: 16px;"><canvas width="52" height="17" style="width: 52px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Judo </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Classes" style="width: 56px; height: 16px;"><canvas width="66" height="17" style="width: 66px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Classes</cufontext></cufon></h3>
                                        <p>Our comprehensive program is designed to cover the skills and the techniques that meet the needs of a full range of student interest, from entry-level to the fundamentals of judo. <br><br><a class="readmore" href="http://www.veritema.com/index.php/classes/judo" target="_self">Learn More</a><br><br><br></p>
                                        <h3><img src="./Martial Arts Classes Raleigh_files/muay-thai-03.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;"></h3>
                                        <h3><cufon class="cufon cufon-canvas" alt="Muay " style="width: 47px; height: 16px;"><canvas width="59" height="17" style="width: 59px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Muay </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Thai " style="width: 37px; height: 16px;"><canvas width="50" height="17" style="width: 50px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Thai </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Classes" style="width: 56px; height: 16px;"><canvas width="66" height="17" style="width: 66px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Classes</cufontext></cufon></h3>
                                        <p>Muay Thai Kickboxing is one of the most powerful martial arts. Using special designed striking equipment and unique training methods, kicks, punches, elbows and knees are practiced&nbsp;to perfect the various techniques. <br><br><a class="readmore" href="http://www.veritema.com/index.php/classes/muay-thai" target="_self">Learn More</a><br><br><br></p>
                                        <h3><img src="./Martial Arts Classes Raleigh_files/thai chi.jpg" border="0" alt="no-photo" width="198" height="149" style="border: 1px solid black; float: left; margin-left: 5px; margin-right: 5px;"></h3>
                                        <h3><cufon class="cufon cufon-canvas" alt="Tai " style="width: 26px; height: 16px;"><canvas width="39" height="17" style="width: 39px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Tai </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Chi " style="width: 29px; height: 16px;"><canvas width="42" height="17" style="width: 42px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Chi </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Classes" style="width: 56px; height: 16px;"><canvas width="66" height="17" style="width: 66px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Classes</cufontext></cufon></h3>
                                        <p>We bring the training&nbsp;of Tai Chi and&nbsp;the philosophy&nbsp;to the Triangle area.&nbsp;Weather your goals are&nbsp;to understand the principles, forms and movements, we have what you're looking for&nbsp;and more.<br><br><a class="readmore" href="http://www.veritema.com/index.php/classes/tai-chi" target="_self">Learn More</a></p>

                                    </div>

                                </div>

                                <!--End Component-->

                            </div>
                            <div id="rightcol">
                                <div class="moduletable_rightevents">
                                    <h3><cufon class="cufon cufon-canvas" alt="Upcoming " style="width: 82px; height: 16px;"><canvas width="95" height="17" style="width: 95px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Upcoming </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Classes" style="width: 56px; height: 16px;"><canvas width="66" height="17" style="width: 66px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Classes</cufontext></cufon></h3>
                                    <table class="mod_events_latest_table" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr><td class="mod_events_latest_noevents">No events</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="moduletable_right">
                                    <h3><cufon class="cufon cufon-canvas" alt="Instructor:" style="width: 80px; height: 16px;"><canvas width="93" height="17" style="width: 93px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Instructor:</cufontext></cufon></h3>

                                    <div class="gkTab" id="gkTab-135">
                                        <div class="gkTabWrap">
                                            <ul class="gkTabs top">
                                                <li class="gkTab-1 "><span>Chris</span></li>
                                                <li class="gkTab-2 "><span>John</span></li>
                                                <li class="gkTab-3 active"><span>Eric</span></li>
                                                <li class="gkTab-4"><span>Ben</span></li>
                                            </ul>

                                            <div class="gkTabContainer0">
                                                <div class="gkTabContainer1">
                                                    <div class="gkTabContainer2">

                                                        <div class="gkTabItem active" style="left: 0px; position: absolute; opacity: 0; display: none;">
                                                            <div class="gkTabItemSpace">

                                                                <div class="custom">
                                                                    <p><img src="./Martial Arts Classes Raleigh_files/chris_tricoli.jpg" border="0" width="69" height="101" style="border: 0;"> <strong>Master Chris Tricoli </strong><br><br><strong>Number of years training martial art?</strong><br>I was introduced to the world of martial art philosophy as a young boy by my aunt who is Japanese. After living with my aunt and uncle I moved to Texas where my neighbor studied under the greatest teachers in the area. Later I moved to North Carolina and started showing martial arts to Military Personnel in Cherry Point Marine corps air station. After a few yrs teaching I moved to Greenville NC. and started my first school in 1995 while also learning the Chinese arts such as gung fu and Tai Chi, along with karate and Hapkido, since then I moved to Raleigh which is where I currently call home. I still study and practice what I teach, The relationships that my training has developed on and off the mat is one that cannot be explained in words. Its has been a true honor to have trained under the best in the world, and it’s a greater honor that these teachers are also my friends. I have had a rare privilege to represent such awesome lineage such a, Sifu Jeffery Gay, William White, Carlos Machado, Royce Gracie, Scott Francis, Professor Ernie Cates, GM Cyrus, GM Jae Han Ji, GM In Sun Seo, GM West, Dr. Kimm, and Master John Taube.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gkTabItem" style="left: 0px; position: absolute; opacity: 0; display: none;">
                                                            <div class="gkTabItemSpace">

                                                                <div class="custom">
                                                                    <p><img src="./Martial Arts Classes Raleigh_files/John Taube.JPG" border="0" width="69" height="101" style="border: 0;">&nbsp; <strong>&nbsp;Master John Taube</strong>&nbsp;</p>
                                                                    <p><strong>John Taube</strong>&nbsp;is the school's Founder and&nbsp;Soke of Seido-Ryu Jitsu. 6th&nbsp;Dan (Hapkido - Taekwondo -&nbsp;Jujitsu); 3rd Dan Judo; Kru Muay Thai;&nbsp;&nbsp;Brown Belt RCJ Machado &nbsp; &nbsp;Brazilian Jiu-Jitsu.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gkTabItem" style="left: 0px; position: absolute; opacity: 1; display: block;">
                                                            <div class="gkTabItemSpace">

                                                                <div class="custom">
                                                                    <p><img src="./Martial Arts Classes Raleigh_files/equip-joomla-fitness-theme-logo.png" border="0" alt="instructor" width="78" height="101" style="border: 1px solid black; float: left;">&nbsp; Eric Swanson<br>&nbsp; Hapkido<br><br><br><br>&nbsp; Info Coming Soon!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gkTabItem" style="left: 0px; position: absolute; opacity: 0; display: none;">
                                                            <div class="gkTabItemSpace">

                                                                <div class="custom">
                                                                    <p><img src="./Martial Arts Classes Raleigh_files/equip-joomla-fitness-theme-logo.png" border="0" alt="instructor" width="78" height="101" style="border: 1px solid black; float: left;">&nbsp; Ben Tice<br>&nbsp; Hapkido<br><br><br><br>&nbsp; Info Coming Soon!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="moduletable_rightlist">
                                    <h3><cufon class="cufon cufon-canvas" alt="Small " style="width: 46px; height: 16px;"><canvas width="59" height="17" style="width: 59px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Small </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Circle " style="width: 47px; height: 16px;"><canvas width="60" height="17" style="width: 60px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Circle </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Hapkido " style="width: 68px; height: 16px;"><canvas width="81" height="17" style="width: 81px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Hapkido </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Focus:" style="width: 48px; height: 16px;"><canvas width="61" height="17" style="width: 61px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Focus:</cufontext></cufon></h3>

                                    <div class="custom_rightlist">
                                        <ul>
                                            <li>Build true self confidence</li>
                                            <li>Knowledge in the mind</li>
                                            <li>Honesty in the heart</li>
                                            <li>and strength in the body.</li>
                                            <li>Life is a journey!</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div id="spotlight">

                        <div id="spotlight1" style="width:960px;">
                            <div class="moduletable_spotlight">

                                <div class="gkHighlighterGK4" id="gkHighlighterGK4-gkHighlight_132">

                                    <div class="gkHighlighterInterface">

                                        <span class="text">News</span>


                                        <div>
                                            <a href="http://www.veritema.com/index.php/classes#" class="prev"></a>
                                            <a href="http://www.veritema.com/index.php/classes#" class="next"></a>
                                        </div>

                                    </div>

                                    <div class="gkHighlighterWrapper" style="width: 795px;">



                                        <div class="gkHighlighterItem" style="display: block; z-index: 2; top: 0px; opacity: 1;"><span><a href="http://www.veritema.com/index.php/news/100-adjust-and-overcome-your-kick"><span>How to adjust and overcome with your kick</span></a></span></div>



                                        <div class="gkHighlighterItem" style="display: block; z-index: 1; opacity: 0; top: -24px;"><span><a href="http://www.veritema.com/index.php/news/89-martial-arts-make-you-smarter"><span>Does Martial Arts Make You Smarter</span></a></span></div>



                                    </div>
                                </div>


                                <script type="text/javascript">

	try{$Gavick;}catch(e){$Gavick = {};}

	$Gavick["gkHighlighterGK4-gkHighlight_132"] = {

		"animationType" : 'slides',

        "animationSpeed" : 350,

		"animationInterval" : 5000,

		"animationFun" : Fx.Transitions.linear,

		"mouseover" : false
	};

                                </script>
                            </div>
                        </div>


                    </div>

                </div>

                <div id="botspacer"></div>
            </div>
        </div>

        <div id="bottomwrap">
            <div id="bottom">

                <div id="bottom1" style="width:320px;">
                    <div class="moduletable_bottom">

                        <div class="custom_bottom">
                            <div align="center"><span class="title1"><img src="./Martial Arts Classes Raleigh_files/clock-icon.png" border="0" alt="clock-icon" width="30" height="30" style="margin-right: 10px; vertical-align: middle;"><cufon class="cufon cufon-canvas" alt="HOME " style="width: 46px; height: 24px;"><canvas width="59" height="23" style="width: 59px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>HOME </cufontext></cufon><cufon class="cufon cufon-canvas" alt="TRAINING " style="width: 72px; height: 24px;"><canvas width="84" height="23" style="width: 84px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>TRAINING </cufontext></cufon><cufon class="cufon cufon-canvas" alt="AVAILABLE" style="width: 78px; height: 24px;"><canvas width="86" height="23" style="width: 86px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>AVAILABLE</cufontext></cufon></span></div>
                        </div>
                    </div>
                </div>
                <div id="bottom2" style="width:320px;">
                    <div class="moduletable_bottom">

                        <div class="custom_bottom">
                            <div align="center"><span class="title1"><span class="title1"><cufon class="cufon cufon-canvas" alt=" OVER " style="width: 46px; height: 24px;"><canvas width="58" height="23" style="width: 58px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>&nbsp;OVER </cufontext></cufon><cufon class="cufon cufon-canvas" alt="10 " style="width: 23px; height: 24px;"><canvas width="36" height="23" style="width: 36px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>10 </cufontext></cufon><cufon class="cufon cufon-canvas" alt="SERVICE " style="width: 64px; height: 24px;"><canvas width="77" height="23" style="width: 77px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>SERVICE </cufontext></cufon><cufon class="cufon cufon-canvas" alt="OPTIONS" style="width: 61px; height: 24px;"><canvas width="69" height="23" style="width: 69px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>OPTIONS</cufontext></cufon></span></span></div>
                        </div>
                    </div>
                </div>
                <div id="bottom3" style="width:320px;">
                    <div class="moduletable_bottom">

                        <div class="custom_bottom">
                            <div align="center"><span class="title1"><span class="title1"><img style="margin-right: 10px; vertical-align: middle;" alt="money-icon" src="./Martial Arts Classes Raleigh_files/money-icon.png" height="30" width="30"></span><cufon class="cufon cufon-canvas" alt="Free " style="width: 40px; height: 24px;"><canvas width="52" height="23" style="width: 52px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>Free </cufontext></cufon><cufon class="cufon cufon-canvas" alt="PT " style="width: 22px; height: 24px;"><canvas width="34" height="23" style="width: 34px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>PT </cufontext></cufon><cufon class="cufon cufon-canvas" alt="with " style="width: 41px; height: 24px;"><canvas width="54" height="23" style="width: 54px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>with </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Membership" style="width: 97px; height: 24px;"><canvas width="104" height="23" style="width: 104px; height: 23px; top: -1px; left: 0px;"></canvas><cufontext>Membership</cufontext></cufon><br></span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="footerwrap">
            <div id="footer">

                <div id="footer1" style="width:320px;">
                    <div class="moduletable_footer">
                        <h3><cufon class="cufon cufon-canvas" alt="About " style="width: 50px; height: 16px;"><canvas width="63" height="17" style="width: 63px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>About </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Small " style="width: 46px; height: 16px;"><canvas width="59" height="17" style="width: 59px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Small </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Circle " style="width: 47px; height: 16px;"><canvas width="60" height="17" style="width: 60px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Circle </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Hapkido" style="width: 63px; height: 16px;"><canvas width="71" height="17" style="width: 71px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Hapkido</cufontext></cufon></h3>

                        <div class="custom_footer">
                            <p>As the official martial art of the South Korean Secret Service,&nbsp;Hapkido contains both long and close range fighting techniques which&nbsp;utilizing Diana mic kicks and percussive hand strikes at longer ranges, joint locks, or throws at closer fighting distances. Hapkido emphasizes circular motion, non-resisting movements, and control of the opponent. Practitioners seek to gain advantage through footwork and body positioning to employ leverage, avoiding the use of strength against strength and much-much more.<span style="color: #222222; font-family: &#39;Calibri&#39;,&#39;sans-serif&#39;; font-size: 11pt; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: &#39;Times New Roman&#39;; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><br style="word-spacing: 0px; -webkit-text-stroke-width: 0px; mso-special-character: line-break;">&nbsp;<br style="mso-special-character: line-break;"> </span><br><a href="http://themeforest.net/user/webunderdog/portfolio?ref=webunderdog" target="_blank" title="Themeforest"></a></p>
                        </div>
                    </div>
                </div>
                <div id="footer2" style="width:320px;">
                    <div class="moduletable_footer">
                        <h3><cufon class="cufon cufon-canvas" alt="Latest " style="width: 50px; height: 16px;"><canvas width="63" height="17" style="width: 63px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Latest </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Headlines" style="width: 75px; height: 16px;"><canvas width="85" height="17" style="width: 85px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Headlines</cufontext></cufon></h3>

                        <div class="custom_footer">
                            <div class="footer-blocknumber footer-blocknumber">1</div>
                            <p>Small Circle Hapkido Uniforms and attire coming soon <br><br></p>
                            <div class="footer-blocknumber">2</div>
                            <p>Hapkido No holds bar Tournament coming soon. <br><br></p>
                            <div class="footer-blocknumber">3</div>
                            <p>Hapkido promotions<br><br></p>
                            <div class="footer-blocknumber">4</div>
                            <p>Hapkido seminars for the year</p>
                        </div>
                    </div>
                </div>

                <div id="footer4" style="width:320px;">
                    <div class="moduletable_footer">
                        <h3><cufon class="cufon cufon-canvas" alt="Contact " style="width: 63px; height: 16px;"><canvas width="76" height="17" style="width: 76px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Contact </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Us" style="width: 20px; height: 16px;"><canvas width="30" height="17" style="width: 30px; height: 17px; top: 1px; left: -1px;"></canvas><cufontext>Us</cufontext></cufon></h3>

                        <div class="custom_footer">
                            <p><strong>Raleigh Institute of Martial Arts</strong><br><strong>Small Circle Hapkido</strong></p>
                            <p><strong>601-100 E. Six Forks Road<br>Raleigh, NC 27607<br>Primary Phone:</strong>&nbsp; &nbsp;919-601-7534 <br><strong>Alternate Phone:</strong>&nbsp;919-828-4447</p>
                            <p>
                                <a href="http://www.veritema.com/index.php/contact/directions" target="_self">Get Directions</a><br><br>Email:
                                <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy102 = 'chr&#105;s' + '&#64;';
 addy102 = addy102 + '4k&#105;ckb&#111;x' + '&#46;' + 'c&#111;m';
 var addy_text102 = 'chris@4kickbox.';
 document.write('<a ' + path + '\'' + prefix + ':' + addy102 + '\'>');
 document.write(addy_text102);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:chris@4kickbox.com">chris@4kickbox.</a>
                                <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                                </script><span style="display: none;">
                                    This email address is being protected from spambots. You need JavaScript enabled to view it.
                                    <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                    </script>
                                </span>
                                <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy1757 = 'chr&#105;s' + '&#64;';
 addy1757 = addy1757 + '4k&#105;ckb&#111;x' + '&#46;' + 'c&#111;m';
 var addy_text1757 = 'com';
 document.write('<a ' + path + '\'' + prefix + ':' + addy1757 + '\'>');
 document.write(addy_text1757);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:chris@4kickbox.com">com</a>
                                <script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
                                </script><span style="display: none;">
                                    This email address is being protected from spambots. You need JavaScript enabled to view it.
                                    <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
                                    </script>
                                </span><br><br>
                            </p>
                            <p><a href="http://www.facebook.com/rima.kickboxNC" target="_blank"><img src="./Martial Arts Classes Raleigh_files/facebook2.png" border="0" alt=""></a>&nbsp;<a href="https://twitter.com/intent/follow?screen_name=4kickbox" target="_blank"><img src="./Martial Arts Classes Raleigh_files/twitter2.png" border="0" alt=""></a>&nbsp;<a href="http://4kickbox.com/" target="_blank"><img src="./Martial Arts Classes Raleigh_files/rima logo.JPG" border="0" alt="" width="33" height="29" style="cursor: se-resize !important;"></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="copydivwrap">
            <div id="copydiv">
                <div id="copy1">
                    <div class="moduletable_copy">

                        <div class="custom_copy">
                            <p>© 2013 Veritema Martial Arts&nbsp;|&nbsp; All rights reserved.</p>
                        </div>
                    </div>
                </div>
                <div id="copy2">
                    <div class="moduletable_copy">

                        <div class="custom_copy">
                            <p>Designed&nbsp;by <a href="http://www.natton.net/" target="_blank">Natton</a>&nbsp;Inc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; top: -9999px; z-index: 100000;"><iframe id="_atssh33" title="AddThis utility frame" src="./Martial Arts Classes Raleigh_files/sh.70a42bd59f68e6caa20cf9f5.html" style="height: 1px; width: 1px; position: absolute; top: 0px; z-index: 100000; border: 0px; left: 0px;"></iframe></div>
    <style id="service-icons-0"></style>
    <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>