<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="smtp" type="Veritema.Notification.Configuration.SmtpConfigurationSection, Veritema.Notification" />
  </configSections>
  <smtp port="587" server="smtp.sendgrid.net" user="azure_9cb1b946d43946cef93c1ca52dc61324@azure.com" password="DtS3YrXcSty7*6Y" useTls="true" />
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=veritemadev;AccountKey=TeCtY5+tYEO73mKV3PQkg/BQKsMbtQcgowFDhodBpTWncmIUVO6NL90nxLzTyIivmvHYH5egmk1DCHf9MX7rrg==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=veritemadev;AccountKey=TeCtY5+tYEO73mKV3PQkg/BQKsMbtQcgowFDhodBpTWncmIUVO6NL90nxLzTyIivmvHYH5egmk1DCHf9MX7rrg==" />
    <add name="v" connectionString="Server=tcp:veritema-dev.database.windows.net,1433;Initial Catalog=veritema.dev;Persist Security Info=False;User ID=veritema;Password=I{wg_sfiJfB?vpdwmqcKcr_xmsFT7_&amp;#$!~&lt;:#R6mbaioib@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>