
<link href="/plugins/system/abiviasupertable/abiviasupertable/css/ahs/supertable.css" rel="stylesheet" />

<script src="/media/system/js/mootools-core.js" type="text/javascript"></script>
<script src="/media/system/js/core.js" type="text/javascript"></script>
<script src="/media/system/js/caption.js" type="text/javascript"></script>
<script src="/plugins/system/abiviasupertable/abiviasupertable/js/supertable.js" type="text/javascript"></script>

<script>
    $(function () {
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li class='active'>Memberships</li>"); 
    });
</script>



<div style="margin-left: 30px;" class="panel panel-default col-lg-10 col-md-10">
    <div class="panel-heading">
        <h4 class="text-primary">Membership Plans - Small Circle Hapkido</h4>
    </div>
    <div class="panel-body">
        <div class="wrapper">
            <div class="supertable">
                <div class="supertable-col supertable-col-first supertable-col-odd" style="width:25%;">
                    <div class="supertable-cell supertable-row-first supertable-col-head supertable-row-head supertable-row-head-odd supertable-row-head-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">SENIORS</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-odd supertable-row-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">Call for Info</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-last supertable-row-even supertable-row-2">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text"><a href="http://www.veritema.com/index.php/contact" target="_self">Join Now</a></div>
                        </div>
                    </div>
                </div>
                <div class="supertable-col supertable-col-even" style="width:25%;">
                    <div class="supertable-cell supertable-row-first supertable-col-head supertable-row-head supertable-row-head-odd supertable-row-head-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">SINGLE PLAN</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-odd supertable-row-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">Call for Info</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-last supertable-row-even supertable-row-2">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text"><a href="http://www.veritema.com/index.php/contact" target="_self">Join Now</a></div>
                        </div>
                    </div>
                </div>
                <div class="supertable-col supertable-col-odd" style="width:25%;">
                    <div class="supertable-cell supertable-row-first supertable-col-head supertable-row-head supertable-row-head-odd supertable-row-head-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">FAMILY PLAN</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-odd supertable-row-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">Call for Info</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-last supertable-row-even supertable-row-2">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text"><a href="http://www.veritema.com/index.php/contact" target="_self">Join Now</a></div>
                        </div>
                    </div>
                </div>
                <div class="supertable-col supertable-col-last supertable-col-even" style="width:25%;">
                    <div class="supertable-cell supertable-row-first supertable-col-head supertable-row-head supertable-row-head-odd supertable-row-head-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">CORPORATE</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-odd supertable-row-1">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text">Call for Info</div>
                        </div>
                    </div>
                    <div class="supertable-cell supertable-row-last supertable-row-even supertable-row-2">
                        <div class="supertable-cell-inner">
                            <div class="supertable-cell-text"><a href="http://www.veritema.com/index.php/contact" target="_self">Join Now</a></div>
                        </div>
                    </div>
                </div>
                <div class="supertable-clear"> </div>
            </div>
        </div>
        <!-- Abivia.net SuperTable Plugin end -->
        <br />
        <img src="/images/classes.jpg" border="0" alt="" style="display: block; margin-left: auto; margin-right: auto;">


    </div>
</div>
