
<script>
    $(function () {
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Classes'>Classes</li>");
        $("#headerBreadCrumbs").append("<li class='active'>Brazilian Jiu-Jitsu</li>");
    });
</script>



<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">
    <div class="panel-heading">
        <h4 class="text-primary">Brazilian Jiu-Jitsu</h4>

    </div>
    <div class="panel-body">
        <img style="padding-right: 10px;" class="img-responsive pull-left" src="~/images/bjj-handshake.jpg"  width="240" height="161"/>
        <p>
            MACHADO JIU-JITSU is the first Brazilian Jiu-Jitsu (BJJ) school in the Triangle. We have consistently produced skilled grapplers and BJJ competitors. Carlos Machado is one of the highest ranked Brazilian Jiu-Jitsu Instructors in the United States. Machado provides world class Brazilian Jiu-Jitsu instruction and teach beginners and advanced students – both men and women of all ages.
        </p>
        <p>
            Our BJJ lineage is legendary and consist of personal relationships our teachers. We offer Gi (unifrom) and no-Gi classes almost every day of the week. Both men and women enjoy BJJ because it promotes Fitness and Grappling skills. Don’t worry if you have never done BJJ, we teach new students and have many advanced students to help you along. Our instructors constantly travel and provide the best seminars across the USA.
        </p>
        <p>
            The Gracie and Machado Families, led by Carlos and Helio, basically evolved the martial art style into an almost unstoppable dynamo. They would accept challenges against their style from anybody. From the average street person in Rio to International Judo champions from Japan, the style prevailed against all others. The beauty of jiu-jitsu is that it never stopped evolving, continuously adapting to the demands of its surrounding environment.
        </p>
    </div>
    <div class="panel-body">
        <strong>Instructors</strong>
        <p>
            <img class="img-responsive pull-left" src="/images/chris_tricoli.jpg" />
            Chris Tricoli | Birth Place: Hoboken, New Jersey
        </p>
    </div>
    <div class="panel-body">
        <h5 class="text-primary">
            <strong>
                Number of years training martial arts?
            </strong>
        </h5>
        <p>
            I was introduced to the world of martial art philosophy as a young boy by my aunt who is Japanese. After living with my aunt and uncle I moved to Texas where my neighbor studied under the greatest teachers in the area.
            Later I moved to North Carolina and started showing martial arts to Military Personnel in Cherry Point Marine corps air station.
            After a few years teaching I moved to Greenville NC. and started my first school in 1995 while also learning the Chinese arts such as gung fu and Tai Chi,
            along with karate and Hapkido, since then I moved to Raleigh which is where I currently call home. I still study and practice what I teach,
            The relationships that my training has developed on and off the mat is one that cannot be explained in words. Its has been a true honor to have trained
            under the best in the world, and it’s a greater honor that these teachers are also my friends.
            I have had a rare privilege to represent such awesome lineage such as Sifu Jeffery Gay, William White, Carlos Machado, Royce Gracie, Scott Francis,
            Professor Ernie Cates, GM Cyrus, GM Jae Han Ji, GM In Sun Seo, GM West, Dr. Kimm, and Master John Taube.
        </p>
    </div>
</div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4></h4>
    </div>
    <div class="panel-body">

    </div>
</div>