<script>
    $(document).ready(function () {
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='#'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Classes'>Classes</li>");
        $("#headerBreadCrumbs").append("<li class='active'>Hapkido</li>");
    });
</script>

<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">
    
    <div class="panel-heading">
        <h4 class="text-primary"> Hapkido Classes</h4>
    </div>
    <div class="panel-body">
        Known for its hand to hand combat, this program will focus on self-defense in its most extreme sense, dealing with mostly stand up techniques, joint manipulation, striking,
        kicking and throwing. Through dedication and hard work this course can take you from a simple white belt to a master of the arts. Many Masters of other arts consider Hapkido
        to be "Very brutal, very rough" with no standard curriculum and it’s said we hand pick certain techniques for certain students" making the system of Hapkido to be very personal,
        very realistic and direct. If you are interested in a self defense to save your life, this is it.
    </div>

    <div class="panel-body">
        <strong>Instructors</strong>
        <p>
            <img class="img-responsive pull-left" src="/images/chris_tricoli.jpg" />
            Chris Tricoli | Birth Place: Hoboken, New Jersey
        </p>
    </div>
    <div class="panel-body">
        <h5 class="text-primary">
            <strong>
                Number of years training martial arts?
            </strong>
        </h5>
        <p>
            I was introduced to the world of martial art philosophy as a young boy by my aunt who is Japanese. After living with my aunt and uncle I moved to Texas where my neighbor studied under the greatest teachers in the area.
            Later I moved to North Carolina and started showing martial arts to Military Personnel in Cherry Point Marine corps air station.
            After a few years teaching I moved to Greenville NC. and started my first school in 1995 while also learning the Chinese arts such as gung fu and Tai Chi,
            along with karate and Hapkido, since then I moved to Raleigh which is where I currently call home. I still study and practice what I teach,
            The relationships that my training has developed on and off the matt is one that cannot be explained in words. Its has been a true honor to have trained
            under the best in the world, and it’s a greater honor that these teachers are also my friends.
            I have had a rare privilege to represent such awesome lineage such as Sifu Jeffery Gay, William White, Carlos Machado, Royce Gracie, Scott Francis,
            Professor Ernie Cates, GM Cyrus, GM Jae Han Ji, GM In Sun Seo, GM West, Dr. Kimm, and Master John Taube.
        </p>
        <a class="btn btn-primary" href="/Schedule"><i class="fa fa-calendar" aria-hidden="true"></i> Check Schedule</a>
    </div>
 </div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4><i class="fa fa-university" aria-hidden="true"></i> Upcoming Classes</h4>
    </div>
    <div class="panel-body">
        No events. Please check back soon!
    </div>
</div>