

<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">

    <div class="panel-heading">
        <h4 class="text-primary">Fitness Kickboxing</h4>
    </div>
    <div class="panel-body">
        <img style="padding-right: 10px;" class="img-responsive pull-left" src="/images/gallerymodule/pic3.jpg"  width="240" height="161" />
        <p>
            Often referred to as the “Sweet Science” is one of the best ways to have fun and learn skills to boot!. Learn the Jab, Cross, Hook and the Uppercut punches that Boxers use to get lean and fit. Along with our conditioning methods used by actual fighters at our school, your body will get lean and toned quick!
        </p>
        <p>
            Kickboxing uses your entire body to create amazing results in fitness and confidence. Kickboxing techniques help build your balance, confidence, and coordination. Develop your core conditioning and get that workout you have always wanted!
        </p>
        <p>
            All of our classes are taught by qualified Instructors who are our former Kickboxing students! So they know exactly how you feel when you first walk through the door.
        </p>
        <p>
            This is the best Kickboxing workout you will ever experience! Kickboxing is great for Fitness, Self Defense, and Muscle Toning. No other workout burns more calories or builds and tones muscle as well. It’s truly the best workout ever.
        </p>
        <p>
            Most of our members will tell you that this class is way more fun than the gym, fitness boot camps, personal training, health clubs, and is absolutely the best way to lose weight, and get in shape. Sign up today, you’ll be so glad you did!
        </p>
    </div>

    <div class="panel-body">
        <strong>Instructors</strong>
        <p>
            <img class="img-responsive pull-left" src="/images/chris_tricoli.jpg" />
            Chris Tricoli | Birth Place: Hoboken, New Jersey
        </p>
    </div>
    <div class="panel-body">
        <h5 class="text-primary">
            <strong>
                Number of years training martial arts?
            </strong>
        </h5>
        <p>
            I was introduced to the world of martial art philosophy as a young boy by my aunt who is Japanese. After living with my aunt and uncle I moved to Texas where my neighbor studied under the greatest teachers in the area.
            Later I moved to North Carolina and started showing martial arts to Military Personnel in Cherry Point Marine corps air station.
            After a few years teaching I moved to Greenville NC. and started my first school in 1995 while also learning the Chinese arts such as gung fu and Tai Chi,
            along with karate and Hapkido, since then I moved to Raleigh which is where I currently call home. I still study and practice what I teach,
            The relationships that my training has developed on and off the mat is one that cannot be explained in words. Its has been a true honor to have trained
            under the best in the world, and it’s a greater honor that these teachers are also my friends.
            I have had a rare privilege to represent such awesome lineage such as Sifu Jeffery Gay, William White, Carlos Machado, Royce Gracie, Scott Francis,
            Professor Ernie Cates, GM Cyrus, GM Jae Han Ji, GM In Sun Seo, GM West, Dr. Kimm, and Master John Taube.
        </p>
        <a class="btn btn-primary" href="/Schedule"><i class="fa fa-calendar" aria-hidden="true"></i> Check Schedule</a>
    </div>
</div>
<div id="" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">

    </div>
    <div class="panel-body">

    </div>
</div>
<script>
    $(function () {
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Classes'>Classes</li>");
        $("#headerBreadCrumbs").append("<li class='active'>Fitness Kickboxing</li>");
    });
</script>

