
<script>
    $(function () {
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Classes'>Classes</li>");
        $("#headerBreadCrumbs").append("<li class='active'>Muay Thai</li>");
    });
</script>



<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">
    <div class="panel-heading">
        <h4 class="text-primary">Muay Thai</h4>

    </div>
    <div class="panel-body">
        <img style="padding-right: 10px;" class="img-responsive pull-left" src="~/images/muay-thai-03.jpg" width="240" height="161" />
        <p>
            Muay Thai Kickboxing is one of the most powerful martial arts. Developed way back in the medieval ages when wars were fought with bows and arrows, swords and pikes, and when in hand-to-hand combat practically anything – arms, legs, knees, elbows, heads, throws, etc. had its place. This art, which was later included in the military training, was made famous by King Naresuan in 1560 A.D. During one of the many battles between Burma and Siam the King was captured. Since the Burmese knew of his prowess as the best unarmed fighter in the Kingdom they gave him the chance to fight with their best for his freedom. He succeeded and upon his return to Siam was celebrated as a national hero. Soon thereafter the Siamese boxing was recognized as a national sport. It reached its zenith about two hundred years ago during the reign of Prachao Sua (King Tiger) when it was practiced by all classes of the population. In the past Thai boxers were often under the patronage of the kings.
        </p>
        <p>
            In Thai Boxing “Forms” OR “Katas” do not exist, nor does the practice of stopping techniques several inches in front of the target. Using specially designed striking equipment and unique training methods, kicks; punches elbows and knees are practiced with full power and without holding back. Muay Thai is an art form which utilizes all of the body’s natural weapons to create a devastating fighting style, as competitive in the ring as it is useful on the street.
        </p>
    </div>
    <div class="panel-body">
        <h5 class="text-primary">
            <strong>Instructors</strong>
</h5>
        <p class="text-primary">
                        Chris Tricoli | Birth Place: Hoboken, New Jersey
        </p>
            <img class="img-responsive pull-left" src="/images/tricoli_cert.jpg" width="50%" height="50%" />
</div>
    <div class="panel-body">
        <h5 class="text-primary">
            <strong>
                Number of years training martial arts?
            </strong>
        </h5>
        <p>
            I was introduced to the world of martial art philosophy as a young boy by my aunt who is Japanese. After living with my aunt and uncle I moved to Texas where my neighbor studied under the greatest teachers in the area.
            Later I moved to North Carolina and started showing martial arts to Military Personnel in Cherry Point Marine corps air station.
            After a few years teaching I moved to Greenville NC. and started my first school in 1995 while also learning the Chinese arts such as gung fu and Tai Chi,
            along with karate and Hapkido, since then I moved to Raleigh which is where I currently call home. I still study and practice what I teach,
            The relationships that my training has developed on and off the mat is one that cannot be explained in words. Its has been a true honor to have trained
            under the best in the world, and it’s a greater honor that these teachers are also my friends.
            I have had a rare privilege to represent such awesome lineage such as Sifu Jeffery Gay, William White, Carlos Machado, Royce Gracie, Scott Francis,
            Professor Ernie Cates, GM Cyrus, GM Jae Han Ji, GM In Sun Seo, GM West, Dr. Kimm, and Master John Taube.
        </p>
    </div>
</div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4></h4>
    </div>
    <div class="panel-body">

    </div>
</div>