
<script>
    $(function () {
        $("#headerBreadCrumbs").text('');
        $("#headerBreadCrumbs").append("<li><a href='/Home'>Home</a></li>");
        $("#headerBreadCrumbs").append("<li><a href='/Classes'>Classes</li>");
        $("#headerBreadCrumbs").append("<li class='active'>Tai Chi</li>");
    });
</script>



<div style="margin-left: 30px;" class="panel panel-default col-lg-8 col-md-8">
    <div class="panel-heading">
        <h4 class="text-primary">Tai Chi</h4>

    </div>
    <div class="panel-body">
        <img style="padding-right: 10px;" class="img-responsive pull-left" src="/images/gallerymodule/thai%20chi.jpg" width="240" height="161" />
        <p>
            The creator of the art of Tai Chi, which originated in China, is unknown. The time when Tai Chi began is also not known.
        </p>
        <p>
            In antiquity the art of Tai Chi is called Nei Chia, the name describing the predominant use of Chi ( the body’s vital energy ) and the softness of the art. As recorded in the Spring and Autumn Annals* of king Gou Jian ( 496 - 465 BC ) of Yue (present-day Shanghai, northern Zhejiang and southern Jiangsu), a highly skilled female Nei Chia practitioner named Yue Nue once explained to king Yue about the basic principles of Nei Chia that harmonize the body’s vital energy with its physical manifestation ( internal and external ), done by combining posture, breathing and consciousness when in static and moving states. This indicates that by 496 BC the art was well developed, so it could have been created a great deal earlier.
        </p>
        <p>
            Since ancient times Nei Chia/Tai Chi has continued to evolve such that almost all of its forms ( movements ) have originated from or as a result of modifications from many sources/arts. They were linked together by many people who later established their own practices/schools to create the sequences of Tai Chi, of course keeping its principles and way of moving intact, which is why one school could have many or just a few slightly different forms ( or even merely a different order of the sequence ) in its Tai Chi than that of another school. Tai Chi typically has about forty different movements/forms without repetition.
        </p>
        <p>
            The name of Tai Chi, which means supreme ultimate, was used by ancient Chinese astronomers to describe the cosmic forces. These astronomers had meticulously studied the sky for over 5000 years and found that cosmic forces are cyclical, moving, and evolving into each other, such that all conditions in the universe never stay the same. These forces run according by a single principle, the supreme ultimate ( Tai Chi ). This single principle consists of two opposite principles, or two principles which oppose one another in their actions: yin and yang.
        </p>
        <p>
            Yin and yang is the cyclical nature of opposing, yet united forces of change in the universe; all phenomena change into their opposites in an eternal cycle of reversal, and all of the opposites in the universe can be reduced to one of yin and yang.
        </p>
        <p>
            Under the principles of yin and yang, all changes in the universe are accomplished through the five material agents, or Wu Hsing, which are wood-fire-earth-metal-water. The five material agents both produce one another and overcome one another, e.g. wood gives rise to fire, fire gives rise to earth, earth gives rise to metal, metal gives rise to water, water gives rise to wood; fire is controlled by water, water is controlled by earth, earth is controlled by wood, wood is controlled by metal, and metal is controlled by fire. These orders can be used to explain the progression of change in just about everything, and all things can be related to one another in some way.
        </p>
        <p>
        The art of Tai Chi is based on these cosmic principles, which indeed are reflected in every single movement of the art. Tai Chi is thus in harmony with the cosmic forces.
      </p>
    </div>
    <div class="panel-body">
        <strong>Instructors</strong>
        <p>
            <img class="img-responsive pull-left" src="/images/chris_tricoli.jpg" />
            Chris Tricoli | Birth Place: Hoboken, New Jersey
        </p>
    </div>
    <div class="panel-body">
        <h5 class="text-primary">
            <strong>
                Number of years training martial arts?
            </strong>
        </h5>
        <p>
            I was introduced to the world of martial art philosophy as a young boy by my aunt who is Japanese. After living with my aunt and uncle I moved to Texas where my neighbor studied under the greatest teachers in the area.
            Later I moved to North Carolina and started showing martial arts to Military Personnel in Cherry Point Marine corps air station.
            After a few years teaching I moved to Greenville NC. and started my first school in 1995 while also learning the Chinese arts such as gung fu and Tai Chi,
            along with karate and Hapkido, since then I moved to Raleigh which is where I currently call home. I still study and practice what I teach,
            The relationships that my training has developed on and off the mat is one that cannot be explained in words. Its has been a true honor to have trained
            under the best in the world, and it’s a greater honor that these teachers are also my friends.
            I have had a rare privilege to represent such awesome lineage such as Sifu Jeffery Gay, William White, Carlos Machado, Royce Gracie, Scott Francis,
            Professor Ernie Cates, GM Cyrus, GM Jae Han Ji, GM In Sun Seo, GM West, Dr. Kimm, and Master John Taube.
        </p>
    </div>
</div>
<div id="upcomingClasses" class="panel panel-default pull-left col-md-3 col-lg-3">
    <div class="panel-heading">
        <h4></h4>
    </div>
    <div class="panel-body">

    </div>
</div>