<div class="container-fluid hidden-sm hidden-xs">
    <table class="table table-bordered table-hover">
        <thead style="background-color:dimgrey; color:antiquewhite">
            <tr>
                <th></th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
        <tr>
                <th style="background-color:dimgrey; color:antiquewhite">10:00-11:00 am</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="background-color:Highlight">
                    FITNESS KICKBOXING,<br />
                    NO GI BJJ,<br />
                    MACHADO<sup>TM</sup> JIU-JITSU
                </td>
            </tr>
            <tr>
                <th style="background-color:dimgrey; color:antiquewhite">11:00-12:00pm</th>
                <td></td>
                <td style="background-color:Highlight">
                    *OPEN GYM, <br />
                    MACHADO<sup>TM</sup> JIU-JITSU, <br />
                    JIU-JITSU
                </td>
                <td></td>
                <td style="background-color:Highlight">
                    *OPEN GYM, <br />
                    MACHADO<sup>TM</sup> JIU-JITSU, <br />
                    JIU-JITSU
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th style="background-color:dimgrey; color:antiquewhite">3:00-5:00pm</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th style="background-color:dimgrey; color:antiquewhite">5:00-5:45pm</th>
                <td></td>
                <td style="background-color:Highlight">TAI CHI</td>
                <td style="background-color:Highlight">JUNIORS MMA</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th style="background-color:dimgrey; color:antiquewhite">6:00-6:45pm</th>
                <td></td>
                <td></td>
                <td style="background-color:Highlight">JUNIORS MMA</td>
                <td></td>
                <td style="background-color:Highlight">JUNIORS MMA</td>
                <td style="background-color:Highlight">FITNESS KICKBOXING</td>
                <td></td>
            </tr>
            <tr>
                <th style="background-color:dimgrey; color:antiquewhite">6:30-7:30pm</th>
                <td></td>
                <td style="background-color:Highlight">
                    FITNESS KICKBOXING,<br />
                    HAPKIDO,<br />
                    MUAY THAI
                </td>
                <td style="background-color:Highlight">
                    FITNESS KICKBOXING,<br />
                    NO GI BJJ,<br />
                    MUAY THAI
                </td>
                <td style="background-color:Highlight">
                    FITNESS KICKBOXING,<br />
                    YUDO,<br />
                    MUAY THAI
                </td>
                <td style="background-color:Highlight">
                    FITNESS KICKBOXING,<br />
                    HAPKIDO,<br />
                    MUAY THAI
                </td>
                <td style="background-color:Highlight">*OPEN GYM</td>
                <td></td>
            </tr>
            <tr>
                <th style="background-color:dimgrey; color:antiquewhite">7:30-9pm</th>
                <td></td>
                <td style="background-color:Highlight">JIU JITSU BASICS</td>
                <td style="background-color:Highlight">JIU-JITSU ADVANCED</td>
                <td style="background-color:Highlight">JIU JITSU BASICS</td>
                <td style="background-color:red">JIU-JITSU ADVANCED</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    *OPEN GYM - Members in good standing may use the School for their own training during posted Open Gym hours, but must schedule in advance
    with an authorized instructor. 
</div>