<div class="container-fluid hidden-lg hidden-md hidden-sm">
<div class="panel">
    <div class="panel-heading panel-primary">Monday</div>
    <div class="panel-body">
        11:00-12:00pm: *OPEN GYM, MACHADO<sup>TM</sup> JIU-JITSU, JIU-JITSU <br />
        5:00-5:45pm: TAI CHI<br />
        6:30-7:30pm: FITNESS KICKBOXING, HAPKIDO, MUAY THAI<br />
        7:30-9:00pm: JUI JITSU BASICS
    </div>
</div>

<div class="panel">
    <div class="panel-heading panel-primary">Tuesday</div>
    <div class="panel-body">
        5:00-5:45pm: JUNIORS MMA<br />
        6:00-6:45pm: JUNIORS MMA<br />
        6:30-7:30pm: FITNESS KICKBOXING, NO GI BJJ, MUAY THAI<br />
        7:30-9:00pm: JIU-JITSU ADVANCED
    </div>
</div>

<div class="panel">
    <div class="panel-heading panel-primary">Wednesday</div>
    <div class="panel-body">
        11:00-12:00pm: *OPEN GYM, MACHADO<sup>TM</sup> JIU-JITSU, JIU-JITSU <br />
        6:30-7:30pm: FITNESS KICKBOXING, YUDO, MUAY THAI<br />
        7:30-9:00pm: JUI JITSU BASICS
    </div>
</div>

<div class="panel">
    <div class="panel-heading panel-primary">Thursday</div>
    <div class="panel-body">
        6:00-6:45pm: JUNIORS MMA<br />
        6:30-7:30pm: FITNESS KICKBOXING, HAPKIDO, MUAY THAI<br />
        7:30-9:00pm: JIU-JITSU ADVANCED
    </div>
</div>

<div class="panel">
    <div class="panel-heading panel-primary">Friday</div>
    <div class="panel-body">
        6:00-6:45pm: FITNESS KICKBOXING<br />
        6:30-7:30pm: *OPEN GYM
    </div>
</div>

<div class="panel">
    <div class="panel-heading panel-primary">Saturday</div>
    <div class="panel-body">
       10:00-11:00am: FITNESS KICKBOXING, NO GI BJJ, MACHADO<sup>TM</sup> JIU-JITSU <br />
    </div>
 </div>

</div>
<div class="container-fluid hidden-xs">
        <table class="table table-bordered table-hover">
            <thead style="background-color:dimgrey; color:antiquewhite">
                <tr>
                    <th></th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="background-color:dimgrey; color:antiquewhite">10:00-11:00 am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="background-color:lightblue">
                        FITNESS KICKBOXING,<br />
                        NO GI BJJ,<br />
                        MACHADO<sup>TM</sup> JIU-JITSU
                    </td>
                </tr>
                <tr>
                    <th style="background-color:dimgrey; color:antiquewhite">11:00-12:00pm</th>
                    <td></td>
                    <td style="background-color:lightblue">
                        *OPEN GYM, <br />
                        MACHADO<sup>TM</sup> JIU-JITSU, <br />
                        JIU-JITSU
                    </td>
                    <td></td>
                    <td style="background-color:lightblue">
                        *OPEN GYM, <br />
                        MACHADO<sup>TM</sup> JIU-JITSU, <br />
                        JIU-JITSU
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th style="background-color:dimgrey; color:antiquewhite">3:00-5:00pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th style="background-color:dimgrey; color:antiquewhite">5:00-5:45pm</th>
                    <td></td>
                    <td style="background-color:lightblue">TAI CHI</td>
                    <td style="background-color:lightblue">JUNIORS MMA</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th style="background-color:dimgrey; color:antiquewhite">6:00-6:45pm</th>
                    <td></td>
                    <td></td>
                    <td style="background-color:lightblue">JUNIORS MMA</td>
                    <td></td>
                    <td style="background-color:lightblue">JUNIORS MMA</td>
                    <td style="background-color:lightblue">FITNESS KICKBOXING</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="background-color:dimgrey; color:antiquewhite">6:30-7:30pm</th>
                    <td></td>
                    <td style="background-color:lightblue">
                        FITNESS KICKBOXING,<br />
                        HAPKIDO,<br />
                        MUAY THAI
                    </td>
                    <td style="background-color:lightblue">
                        FITNESS KICKBOXING,<br />
                        NO GI BJJ,<br />
                        MUAY THAI
                    </td>
                    <td style="background-color:lightblue">
                        FITNESS KICKBOXING,<br />
                        YUDO,<br />
                        MUAY THAI
                    </td>
                    <td style="background-color:lightblue">
                        FITNESS KICKBOXING,<br />
                        HAPKIDO,<br />
                        MUAY THAI
                    </td>
                    <td style="background-color:lightblue">*OPEN GYM</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="background-color:dimgrey; color:antiquewhite">7:30-9pm</th>
                    <td></td>
                    <td style="background-color:lightblue">JIU JITSU BASICS</td>
                    <td style="background-color:lightblue">JIU-JITSU ADVANCED</td>
                    <td style="background-color:lightblue">JIU JITSU BASICS</td>
                    <td style="background-color:lightblue">JIU-JITSU ADVANCED</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid">
        *OPEN GYM - Members in good standing may use the School for their own training during posted Open Gym hours, but must schedule in advance
        with an authorized instructor.
    </div>

    <script>
        $(document).ready(function () {
            // clear it out with pure javascript - quicker
            $("#headerBreadCrumbs").text('');
            $("#headerBreadCrumbs").append("<li class='active'>Schedule</li>");
        });
    </script>
